<div class="profile_edit">

<!-- 一覧ページへのリンクアイコン-->
<a href="/subprofiles/<%= @subprofile.id%>">
  <div class="pen_p back_index">
    <i class="fas fa-chevron-left"></i>
  </div>
</a>

<%= form_with(model: @subprofile, local: true, multipart: true) do |form| %>
   <!-- 見出し・本文変更 ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_name_edit" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_icon_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content name_introduce">
          <p class="popup_title">見出し・本文</p>
          <div class="name_introduce_form_pp">
            <div class="name_introduce_form_p">
                <div class="name_introduce_form_p">
                  <label  class="name_introduce_form_title">見出し</label>
                  <p><%= form.text_field :title,class:"name_form",maxlength: "50",required: true %></p>
                  <label class="name_introduce_form_title">本文</label>
                  <p><%= form.text_area :pfl_text,class:"introduce_form",maxlength: "10000"%></p>
                </div>
              </div>
            </div>
       <p><label class="edit_close_btn"  for="trigger_name_edit"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <p><input class="OK" type="submit" value="保存" name="edit_title_pfl_text"></p>
     </div>
    </div>
   </div>
  </div>

  <!-- 背景色変更-->
  <div class="popup_wrap" >
    <input id="trigger_background_color" type="checkbox" >
    <div class="popup_overlay">
      <div class="popup_content_color">
        <p class="popup_title">背景色設定</p>
        <p><label class="edit_close_btn"  for="trigger_background_color"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <% @color_index.each do |color| %>
          <%= form.radio_button :background_color, color,id:"A#{color}"%>
          <label for="A<%= color%>" class="color_index_p">
            <span class="color_index A<%= color%>"></span>
          </label>
        <%end%>
        <input class="OK" type="submit" value="保存" name="edit_background_color">
      </div>
    </div>
  </div>

<!-- フォントカラー ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_font_style" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_font_style" class="popup_trigger"></label>
      <div class="popup_content_p">

          <!-- フォント種類 ポップアップ-->
         <div class="popup_wrap">
          <input id="trigger_font_family" type="checkbox">
          <div class="popup_content_font_family">
            <p class="popup_title">フォント種類</p>
            <p><label class="edit_close_btn"  for="trigger_font_family"><i class="fas fa-times-circle edit_close_btn"></i></label></p>

            <div class="font_family_p">
              <% @font_family_index.each do |key,value| %>
                <%= form.radio_button :font_family, value,id:"#{value}"%>
                <label for="<%= value%>" class="font_family_index_p">
                 <p  class="font_family<%= key%>">もじ モジ 文字 FONT font 123</p>
                </label>
              <%end%>
            </div>

            <input class="OK" type="submit" value="保存" name="edit_font_family">
          </div>
        </div>

<!-- フォントカラー ポップアップ-->
        <div class="popup_wrap">
          <input id="trigger_font_color" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">フォントカラー</p>
            <p><label class="edit_close_btn"  for="trigger_font_color"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
              <% @color_index.each do |color| %>
              <%= form.radio_button :font_color, color,id:"font_color#{color}"%>
              <label for="font_color<%= color%>" class="color_index_p">
                  <span class="color_index font_color<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="edit_font_color">
          </div>
        </div>

  <!-- フォントデザイン ポップアップ-->
      <div class="popup_content_select">
        <p class="popup_title font_popup_title">フォントデザイン</p>
        <p><label class="edit_close_btn"  for="trigger_font_style"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <p><label for="trigger_font_family" class="open_btn_s">フォントの種類</label></p>
        <p><label for="trigger_font_color" class="open_btn_s">フォントカラー</label></p>
      </div>

    </div>
   </div>
  </div>

  <!-- プロフィール公開設定 ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_open_status" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_header_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content open_status_popup">
       
        <p class="popup_title" style="padding-bottom:50px;">公開設定</p>
           <div class="custom-control custom-switch" style="text-align:center;">
            <%= form.check_box :open_status,checked_value:"0",unchecked_value:"1",class:"custom-control-input",id:"customSwitch1"%>
            <label class="custom-control-label" for="customSwitch1">メインプロフィールにリンクを表示</label>
          </div>

       <p><label class="edit_close_btn"  for="trigger_open_status"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <input class="OK" type="submit" value="保存" name="open_status">
     </div>
    </div>
   </div>
  </div>

  <!-- リンクボタン-->
  <div class="popup_wrap">
    <input id="trigger_link" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_link" class="popup_trigger"></label>
      <div class="popup_content_p">
      <!-- リンクコメント-->
      <div class="popup_wrap">
        <input id="trigger_acountlink" type="checkbox">
          <div class="popup_content_acount subprofile_comment">
            <div class="sns_acount_popup_title">
             <p class="popup_title" style="margin-bottom:30px;">コメント</p>
            </div>
            
            <div class="subprofile_form_pp">
              <div class="subprofile_form_p">
                <div class="link_coment_form_p">
                  <label class="coment_form_title">コメント</label>
                  <%= form.text_area :comment,class:"link_coment_form",maxlength: "1000"%>
                </div>
             </div>
            </div>

          <p><label class="edit_close_btn"  for="trigger_acountlink"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
          <input class="OK" type="submit" value="保存" name="edit_comment">
        </div>
      </div>

 <!-- リンクボタンの色-->
  <div class="popup_wrap">
    <input id="trigger_background_colorlink" type="checkbox">
    <div class="popup_content_c">
      <p class="popup_title">リンクボタンの色</p>
      <p><label class="edit_close_btn"  for="trigger_background_colorlink"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <% @color_index.each do |color| %>
         <%= form.radio_button :link_background_color, color,id:"link_background_color#{color}"%>
         <label for="link_background_color<%= color%>" class="color_index_p">
            <span class="color_index link_background_color<%= color%>"></span>
          </label>
        <%end%>
      <input class="OK" type="submit" value="保存" name="linK_background_color">
    </div>
  </div>

 <!-- リンクボタンの文字の色-->
  <div class="popup_wrap">
    <input id="trigger_font_colorlink" type="checkbox">
    <div class="popup_content_c">
      <p class="popup_title">リンクの文字の色</p>
      <p><label class="edit_close_btn"  for="trigger_font_colorlink"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <% @color_index.each do |color| %>
          <%= form.radio_button :link_font_color, color,id:"link_font_color#{color}"%>
          <label for="link_font_color<%= color%>" class="color_index_p">
            <span class="color_index link_font_color<%= color%>"></span>
          </label>
        <%end%>
      <input class="OK" type="submit" value="保存" name="linK_font_color">
    </div>
  </div>
    <!-- リンクボタンの文字の色 -->
      <div class="popup_content_select">
        <p class="popup_title">リンク設定</p>
        <%= link_to '削除', "/subprofiles/#{@subprofile.id}",class:"link_destroy",method: :delete, data: {confirm: "削除しますか?"}  %>
        <p><label class="edit_close_btn"  for="trigger_link"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <p><label for="trigger_acountlink" class="open_btn_s">リンクの下に表示されるコメント</label></p>
        <p><label for="trigger_background_colorlink" class="open_btn_s">リンクボタンの色</label></p>
        <p><label for="trigger_font_colorlink" class="open_btn_s">リンクボタンの文字の色</label></p>
      </div>
    </div>
   </div>
  </div>

  <div class="trigger_btn_p subprofile_trigger_btn_p">
  <!-- 見出し・本文変更ボタン-->
  <label for="trigger_name_edit">
    <div class="trigger_btn">
      <p>見出し・本文</p>
    </div>
  </label>
    <!-- 背景色編集ボタン-->
    <label for="trigger_background_color">
      <div class="trigger_btn">
        <p>背景色</p>
      </div>
    </label>
  <!-- フォントデザイン編集ボタン-->
    <label for="trigger_font_style">
      <div class="trigger_btn">
        <p>フォントデザイン</p>
      </div>
    </label>
 <!-- 公開設定ボタン-->
    <label for="trigger_open_status">
      <div class="trigger_btn">
        <p>公開設定</p>
      </div>
    </label>
  <!-- リンク設定ボタン-->
    <label for="trigger_link">
      <div class="trigger_btn">
        <p class="font_color">リンクボタンの設定</p></p>
      </div>
    </label>
  </div>

<%end%>

</div>

<style>
  .profile_edit{
    height: auto;
    padding-bottom:100px;
  }

  body{
     background-color: #<%=@subprofile.background_color%>;
  }

  /*色一覧*/
  <% @color_index.each do |color| %>
    .A<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>
  
  <% @color_index.each do |color| %>
    .font_color<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  /*フォント種類*/
  <% @font_family_index.each do |key,value| %>
    .font_family<%= key%>{
      font-family: <%= value%>;
      cursor: pointer;
      margin:0px;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .link_background_color<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

    <% @color_index.each do |color| %>
    .link_font_color<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

</style>