<%= form_with(model: @user, local: true, multipart: true) do |form| %>

<body>
  <!-- ヘッダー画像-->
  <div class="header_image_p">
    <label for="header_image_upload">
      <% if @user.header_image? %>
      <p><%= image_tag @user.header_image.url,class:"header_image"%></p>
      <% end %>
      <i class="fas fa-camera camera_header"></i>
      <span class="black_overlay_header"></span>
      <p><%= form.file_field :header_image, accept: "image/png,image/jpeg,image/gif",id:"header_image_upload"%></p>
    </label>
  </div>

  <!-- アイコン画像-->
  <div class="icon_image_p">
    <label for="icon_image_upload" >
      <i class="fas fa-camera camera_icon"></i>
      <% if @user.icon_image? %>
      <p><%= image_tag @user.icon_image.url,class:"icon_image"%></p>
      <% end %>
      <span class="black_overlay_icon"></span>
      <p><%= form.file_field :icon_image, accept: "image/png,image/jpeg,image/gif",id:"icon_image_upload"%></p>
    </label>
  </div>

<!-- 背景色編集ポップアップ-->
<%= render "layouts/color_edit" %>

<!-- 背景色編集ボタン-->
<div class="color_and_link_edit_btn_p">
  <label for="trigger">
    <div class="color_and_link_edit_btn">
      <p>背景色設定</p>
    </div>
  </label>
<!-- リンク編集ボタン-->
  <label for="trigger_link">
    <div class="color_and_link_edit_btn">
      <p>リンク設定</p>
    </div>
  </label>
</div>

<!-- ポップアップ twitter-->
<div class="popup_wrap">
<input id="trigger2" type="checkbox">
<div class="popup_overlay">
<label for="trigger2" class="popup_trigger"></label>
<div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
<input id="trigger_n" type="checkbox">
<div class="popup_content_n">
<p class="sns_title">Twitter設定<span class="Q"> ※3つまで</p>

<div class="twitter_edit">
<p class="sns_edit_p">TwitterのID</p>
<input  class="sns_edit_naka" name="twitter" value="<%= @user.twitter_id_1 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="Twitter_text1" value="<%= @user.twitter_comment_1 %>"><span class="limit"> ※7文字以内</span>
</div>
<div class="twitter_edit">
<p class="sns_edit_p">TwitterのID </p>
<input class="sns_edit_naka" name="Twitter2" value="<%= @user.twitter_id_2 %>">
　  <p class="sns_edit_p">アカウントのの説明</p>
<input class="sns_edit_naka" maTlength='7' name="Twitter_text2" value="<%= @user.twitter_comment_2 %>"><span class="limit"> ※7文字以内</span>
</div>
<div class="twitter_edit">
<p class="sns_edit_p">TwitterのID</p>
<input class="sns_edit_naka" name="Twitter3" value="<%= @user.twitter_id_3 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="Twitter_text3" value="<%= @user.twitter_comment_3 %>"><span class="limit"> ※7文字以内</span>
</div>

　<label for="trigger_n" class="edit_close_btn">×</label>
<input class="sns_OK" type="submit" value="保存" name="twitter_id_update">
</div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
<input id="trigger_c" type="checkbox">
<div class="popup_content_c">

<p class="color_edit_title">Twitterの外側色</p>
<p><label for="trigger_c" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="C<%= a%>" type="radio" name="twitter_color_soto" value="<%= a%>" <%= "checked" if @user.twitter_outsidecolor== a%>>
<label for="C<%= a%>" class="color_index_oya">
<span class="color_index C<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="twitter_color_soto_update">

</div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

<input id="trigger_uti" type="checkbox">

<div class="popup_content_uti">
<p class="color_edit_title">Twitterの内側色</p>
<p><label for="trigger_uti" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="B<%= a%>" type="radio" name="twitter_color_uti" value="<%= a%>" <%= "checked" if @user.twitter_insidecolor== a%>><!-- ピンク　-->
<label for="B<%= a%>" class="color_index_oya">
<span class="color_index B<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="twitter_color_uti_update">
</div>

<!-- 内側カラー -->

<!-- twitterポップアップ　選択画面 -->
<div class="popup_content_sentaku">
<p><label for="trigger2" class="edit_close_btn">×</label></p>
<p><label for="trigger_n" class="open_btn_s">Twitterアカウントを設定する</label></p>
<p><label for="trigger_c" class="open_btn_s">Twitterアイコン外側カラー変更</label></p>
<p><label for="trigger_uti" class="open_btn_s">Twitterアイコン内側カラー変更</label></p>
</div>
<!-- twitterポップアップ　選択画面 -->
</div>
</div>
</div>
<!-- ポップアップ twitter-->

<!-- ポップアップ instagram-->
<div class="popup_wrap">
<input id="trigger_instagram" type="checkbox">
<div class="popup_overlay">
<label for="trigger_instagram" class="popup_trigger"></label>
<div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
<input id="trigger_instagram_account" type="checkbox">

<div class="popup_content_n">
<p class="sns_title">Instagram設定<span class="Q"> ※3つまで</p>

<div class="twitter_edit">
<p class="sns_edit_p">InstagramのID</p>
<input  class="sns_edit_naka" name="instagram" value="<%= @user.instagram_id_1 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="instagram_text1" value="<%= @user.instagram_comment_1 %>"><span class="limit"> ※7文字以内</span>
</div>
<div class="twitter_edit">
<p class="sns_edit_p">InstagramのID </p>
<input class="sns_edit_naka" name="instagram2" value="<%= @user.instagram_id_2 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="instagram_text2" value="<%= @user.instagram_comment_2 %>"><span class="limit"> ※7文字以内</span>
</div>

　<label for="trigger_instagram_account" class="edit_close_btn">×</label>
<input class="sns_OK" type="submit" value="保存" name="instagram_id_update">
</div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
<input id="trigger_instagram_color_soto" type="checkbox">
<div class="popup_content_c">

<p class="color_edit_title">Instagramの外側色</p>
<p><label for="trigger_instagram_color_soto" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="IS<%= a%>" type="radio" name="instagram_color_soto" value="<%= a%>" <%= "checked" if @user.instagram_outsidecolor== a%>>
<label for="IS<%= a%>" class="color_index_oya">
<span class="color_index IS<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="instagram_color_soto_update">

</div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

<input id="trigger_instagram_color_uti" type="checkbox">

<div class="popup_content_uti">
<p class="color_edit_title">Instagramの内側色</p>
<p><label for="trigger_instagram_color_uti" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="IU<%= a%>" type="radio" name="instagram_color_uti" value="<%= a%>" <%= "checked" if @user.instagram_insidecolor== a%>><!-- ピンク　-->
<label for="IU<%= a%>" class="color_index_oya">
<span class="color_index IU<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="instagram_color_uti_update">
</div>

<!-- 内側カラー -->

<!-- instagramポップアップ　選択画面 -->
<div class="popup_content_sentaku">
<p><label for="trigger_instagram" class="edit_close_btn">×</label></p>
<p><label for="trigger_instagram_account" class="open_btn_s">Instagramアカウントを設定する</label></p>
<p><label for="trigger_instagram_color_soto" class="open_btn_s">Instagramアイコン外側カラー変更</label></p>
<p><label for="trigger_instagram_color_uti" class="open_btn_s">Instagramアイコン内側カラー変更</label></p>
</div>
<!-- 選択画面 -->
</div>
</div>
</div>
<!-- ポップアップ instagram-->

<!-- ポップアップ facebook-->
<div class="popup_wrap">
<input id="trigger_facebook" type="checkbox">
<div class="popup_overlay">
<label for="trigger_facebook" class="popup_trigger"></label>
<div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
<input id="trigger_facebook_account" type="checkbox">

<div class="popup_content_n">
<p class="sns_title">facebook設定<span class="Q"> ※3つまで</p>

<div class="twitter_edit">
<p class="sns_edit_p">facebookのID</p>
<input  class="sns_edit_naka" name="facebook" value="<%= @user.facebook_id_1 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="facebook_text1" value="<%= @user.facebook_comment_1 %>"><span class="limit"> ※7文字以内</span>
</div>
<div class="twitter_edit">
<p class="sns_edit_p">facebookのID </p>
<input class="sns_edit_naka" name="facebook2" value="<%= @user.facebook_id_2 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="facebook_text2" value="<%= @user.facebook_comment_2 %>"><span class="limit"> ※7文字以内</span>
</div>

　<label for="trigger_facebook_account" class="edit_close_btn">×</label>
<input class="sns_OK" type="submit" value="保存" name="facebook_id_update">
</div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
<input id="trigger_facebook_color_soto" type="checkbox">
<div class="popup_content_c">

<p class="color_edit_title">facebookの外側色</p>
<p><label for="trigger_facebook_color_soto" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="FS<%= a%>" type="radio" name="facebook_color_soto" value="<%= a%>" <%= "checked" if @user.facebook_outsidecolor== a%>>
<label for="FS<%= a%>" class="color_index_oya">
<span class="color_index IS<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="facebook_color_soto_update">

</div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

<input id="trigger_facebook_color_uti" type="checkbox">

<div class="popup_content_uti">
<p class="color_edit_title">facebookの内側色</p>
<p><label for="trigger_facebook_color_uti" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="FU<%= a%>" type="radio" name="facebook_color_uti" value="<%= a%>" <%= "checked" if @user.facebook_insidecolor== a%>><!-- ピンク　-->
<label for="FU<%= a%>" class="color_index_oya">
<span class="color_index IU<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="facebook_color_uti_update">
</div>

<!-- 内側カラー -->

<!-- facebookポップアップ　選択画面 -->
<div class="popup_content_sentaku">
<p><label for="trigger_facebook" class="edit_close_btn">×</label></p>
<p><label for="trigger_facebook_account" class="open_btn_s">facebookアカウントを設定する</label></p>
<p><label for="trigger_facebook_color_soto" class="open_btn_s">facebookアイコン外側カラー変更</label></p>
<p><label for="trigger_facebook_color_uti" class="open_btn_s">facebookアイコン内側カラー変更</label></p>
</div>
<!-- 選択画面 -->
</div>
</div>
</div>
<!-- ポップアップ facebook-->

<!-- ポップアップ youtube-->
<div class="popup_wrap">
<input id="trigger_youtube" type="checkbox">
<div class="popup_overlay">
<label for="trigger_facebook" class="popup_trigger"></label>
<div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
<input id="trigger_youtube_account" type="checkbox">

<div class="popup_content_n">
<p class="sns_title">youtube設定<span class="Q"> ※3つまで</p>

<div class="twitter_edit">
<p class="sns_edit_p">YoutubeのID</p>
<input  class="sns_edit_naka" name="youtube" value="<%= @user.youtube_id_1 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="youtube_text1" value="<%= @user.youtube_comment_1 %>"><span class="limit"> ※7文字以内</span>
</div>
<div class="twitter_edit">
<p class="sns_edit_p">YoutubeのID </p>
<input class="sns_edit_naka" name="youtube2" value="<%= @user.youtube_id_2 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="youtube_text2" value="<%= @user.youtube_comment_2 %>"><span class="limit"> ※7文字以内</span>
</div>

　<label for="trigger_youtube_account" class="edit_close_btn">×</label>
<input class="sns_OK" type="submit" value="保存" name="youtube_id_update">
</div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
<input id="trigger_youtube_color_soto" type="checkbox">
<div class="popup_content_c">

<p class="color_edit_title">Youtubeの外側色</p>
<p><label for="trigger_youtube_color_soto" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="YS<%= a%>" type="radio" name="youtube_color_soto" value="<%= a%>" <%= "checked" if @user.youtube_outsidecolor== a%>>
<label for="YS<%= a%>" class="color_index_oya">
<span class="color_index IS<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="youtube_color_soto_update">

</div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

<input id="trigger_youtube_color_uti" type="checkbox">

<div class="popup_content_uti">
<p class="color_edit_title">Youtubeの内側色</p>
<p><label for="trigger_youtube_color_uti" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="YU<%= a%>" type="radio" name="youtube_color_uti" value="<%= a%>" <%= "checked" if @user.youtube_insidecolor== a%>><!-- ピンク　-->
<label for="YU<%= a%>" class="color_index_oya">
<span class="color_index IU<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="youtube_color_uti_update">
</div>

<!-- 内側カラー -->

<!-- youtubeポップアップ　選択画面 -->
<div class="popup_content_sentaku">
<p><label for="trigger_youtube" class="edit_close_btn">×</label></p>
<p><label for="trigger_youtube_account" class="open_btn_s">Youtubeアカウントを設定する</label></p>
<p><label for="trigger_youtube_color_soto" class="open_btn_s">Youtubeアイコン外側カラー変更</label></p>
<p><label for="trigger_youtube_color_uti" class="open_btn_s">Youtubeアイコン内側カラー変更</label></p>
</div>
<!-- youtubeポップアップ　選択画面 -->
</div>
</div>
</div>
<!-- ポップアップ youtube-->

<!-- ポップアップ tiktok-->
<div class="popup_wrap">
<input id="trigger_tiktok" type="checkbox">
<div class="popup_overlay">
<label for="trigger_tiktok" class="popup_trigger"></label>
<div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
<input id="trigger_tiktok_account" type="checkbox">

<div class="popup_content_n">
<p class="sns_title">tiktok設定<span class="Q"> ※3つまで</p>

<div class="twitter_edit">
<p class="sns_edit_p">TiktokのID</p>
<input  class="sns_edit_naka" name="tiktok" value="<%= @user.tiktok_id_1 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="tiktok_text1" value="<%= @user.tiktok_comment_1 %>"><span class="limit"> ※7文字以内</span>
</div>
<div class="twitter_edit">
<p class="sns_edit_p">TiktokのID </p>
<input class="sns_edit_naka" name="tiktok2" value="<%= @user.tiktok_id_2 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
<input class="sns_edit_naka" maTlength='7' name="tiktok_text2" value="<%= @user.tiktok_comment_2 %>"><span class="limit"> ※7文字以内</span>
</div>

　<label for="trigger_tiktok_account" class="edit_close_btn">×</label>
<input class="sns_OK" type="submit" value="保存" name="tiktok_id_update">
</div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
<input id="trigger_tiktok_color_soto" type="checkbox">
<div class="popup_content_c">

<p class="color_edit_title">Tiktokの外側色</p>
<p><label for="trigger_tiktok_color_soto" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="TS<%= a%>" type="radio" name="tiktok_color_soto" value="<%= a%>" <%= "checked" if @user.tiktok_outsidecolor== a%>>
<label for="TS<%= a%>" class="color_index_oya">
<span class="color_index IS<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="tiktok_color_soto_update">

</div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

<input id="trigger_tiktok_color_uti" type="checkbox">

<div class="popup_content_uti">
<p class="color_edit_title">Tiktokの内側の色</p>
<p><label for="trigger_tiktok_color_uti" class="edit_close_btn">×</label></p>
<% @color_index.each do |a| %>
<input id="TU<%= a%>" type="radio" name="tiktok_color_uti" value="<%= a%>" <%= "checked" if @user.tiktok_insidecolor== a%>><!-- ピンク　-->
<label for="TU<%= a%>" class="color_index_oya">
<span class="color_index IU<%= a%>"></span>
</label>
<%end%>
<input class="sns_OK" type="submit" value="保存" name="tiktok_color_uti_update">
</div>

<!-- 内側カラー -->

<!-- tiktokポップアップ　選択画面 -->
<div class="popup_content_sentaku">
<p><label for="trigger_tiktok" class="edit_close_btn">×</label></p>
<p><label for="trigger_tiktok_account" class="open_btn_s">Tiktokアカウントを設定する</label></p>
<p><label for="trigger_tiktok_color_soto" class="open_btn_s">Tiktokアイコン外側カラー変更</label></p>
<p><label for="trigger_tiktok_color_uti" class="open_btn_s">Tiktokアイコン内側カラー変更</label></p>
</div>
<!-- tiktokポップアップ　選択画面 -->
</div>
</div>
</div>
<!-- ポップアップ tiktok-->

<!-- SNS設定アイコン-->
<div class="sns_oya_oya">

<label for="trigger2">
<div class="sns_outside twitter_soto">
<span class="fab fa-twitter sns_inside twitter_uti"></span>
</div>
</label>

<label for="trigger_instagram">
<div class="sns_outside instagram_soto">
<span class="fab fa-instagram sns_inside instagram_uti"></span>
</div>
</label>

<label for="trigger_facebook">
<div class="sns_outside facebook_soto">
<span class="fab fa-facebook sns_inside facebook_uti"></span>
</div>
</label>

<label for="trigger_youtube">
<div class="sns_outside youtube_soto">
<span class="fab fa-youtube sns_inside youtube_uti"></span>
</div>
</label>

<label for="trigger_tiktok">
<div class="sns_outside tiktok_soto">
<span class="fab fa-tiktok sns_inside tiktok_uti"></span>
</div>
</label>
</div>

    <div class="edit_pp">
      <!-- 名前編集フォーム-->  
      <div class="name_edit_p">
        <p><%= form.text_field :name,class:"name_form"%></p>
        <p class="form_title_name">名前</p>
      </div>
      <!-- プロフィールテキスト編集フォーム-->
      <div class="self_introduction_p">
        <p><textarea class="pfl_user_text_form" name="pfl_text"><%= @user.pfl_text%></textarea></p>
        <p class="form_title_pfl_text">自己紹介</p>
      </div>
      <!-- 保存・キャンセルボタン-->
      <div class="update_cancel_btn_p">
        <a class="cancel_btn" href="/users/<%= current_user.id %>">キャンセル</a>
        <%= form.submit "保存",class:"update_btn"%>
      </div>
    </div>

  </body>
<%end%>

<style media="screen">

/*Twitterアイコン 外側色*/
.twitter_uti{
background-color: #<%= @user.twitter_outsidecolor%>;
}
/*Twitterアイコン 内側色*/
.twitter_soto span{
color: #<%= @user.twitter_insidecolor%>;
}
/*instagramアイコン 外側色*/
.instagram_uti{
background-color: #<%= @user.instagram_outsidecolor%>;
}
/*instagramアイコン 内側色*/
.instagram_soto span{
color: #<%= @user.instagram_insidecolor%>;
}
/*facebookアイコン 外側色*/
.facebook_uti{
background-color: #<%= @user.facebook_outsidecolor%>;
}
/*facebookアイコン 内側色*/
.facebook_soto span{
color: #<%= @user.facebook_insidecolor%>;
}
/*youtubeアイコン 外側色*/
.youtube_uti{
background-color: #<%= @user.youtube_outsidecolor%>;
}
/*youtubeアイコン 内側色*/
.youtube_soto span{
color: #<%= @user.youtube_insidecolor%>;
}
/*tiktokアイコン 外側色*/
.tiktok_uti{
background-color: #<%= @user.tiktok_outsidecolor%>;
}
/*tiktokアイコン 内側色*/
.tiktok_soto span{
color: #<%= @user.tiktok_insidecolor%>;
}


/*色一覧*/
<% ba=["000000","B40404","8A4B08","868A08","5FB404","04B45F","04B4AE","045FB4","0404B4","8904B1","B4045F","585858","FF0000","FF8000","FFFF00","BFFF00","00FF80","00FFFF","00BFFF","0040FF","BF00FF","FF00BF","BDBDBD","FA5858","FAAC58","F3F781","D8F781","81F7BE","81F7F3","81DAF5","819FF7","DA81F5","F781D8","F2F2F2","F6CECE","F6E3CE","F5F6CE","E3F6CE","CEF6D8","CEF6F5","CEECF5","CED8F6","ECCEF5","F6CEEC","FFFFFF","FBEFEF","FBF5EF","FBFBEF","F5FBEF","EFFBF8","EFFBFB","EFF8FB","EFEFFB","F8EFFB","FBEFF8"]%>
<% ba.each do |aaa| %>
.C<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.B<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.A<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.IS<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.IU<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.FS<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.FU<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.YS<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.YU<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.TS<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.TU<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

  /*全体*/
  body{
  background-color:  #<%= @user.background_color%>;
  height:1500px;
  }

  @media screen and (max-width: 375px) {
  }

</style>