<%= form_with(model: @user, local: true, multipart: true) do |form| %>

<body>
  <!-- ヘッダー画像-->
  <div class="header_image_p">
    <label for="header_image_upload">
      <% if @user.header_image? %>
      <p><%= image_tag @user.header_image.url,class:"header_image"%></p>
      <% end %>
      <i class="fas fa-camera camera_header"></i>
      <span class="black_overlay_header"></span>
      <p><%= form.file_field :header_image, accept: "image/png,image/jpeg,image/gif",id:"header_image_upload"%></p>
    </label>
  </div>

  <!-- アイコン画像-->
  <div class="icon_image_p">
    <label for="icon_image_upload" >
      <i class="fas fa-camera camera_icon"></i>
      <% if @user.icon_image? %>
      <p><%= image_tag @user.icon_image.url,class:"icon_image"%></p>
      <% end %>
      <span class="black_overlay_icon"></span>
      <p><%= form.file_field :icon_image, accept: "image/png,image/jpeg,image/gif",id:"icon_image_upload"%></p>
    </label>
  </div>

<!-- 背景色編集ポップアップ-->
<%= render "layouts/color_edit" %>

<!-- 背景色編集ボタン-->
<div class="color_and_link_edit_btn_p">
  <label for="trigger">
    <div class="color_and_link_edit_btn">
      <p>背景色設定</p>
    </div>
  </label>
<!-- リンク編集ボタン-->
  <label for="trigger_link">
    <div class="color_and_link_edit_btn">
      <p>リンク設定</p>
    </div>
  </label>
</div>

<%= render "layouts/sns_edit" %>

    <div class="edit_pp">
      <!-- 名前編集フォーム-->  
      <div class="name_edit_p">
        <p><%= form.text_field :name,class:"name_form"%></p>
        <p class="form_title_name">名前</p>
      </div>
      <!-- プロフィールテキスト編集フォーム-->
      <div class="self_introduction_p">
        <p><textarea class="pfl_user_text_form" name="pfl_text"><%= @user.pfl_text%></textarea></p>
        <p class="form_title_pfl_text">自己紹介</p>
      </div>
      <!-- 保存・キャンセルボタン-->
      <div class="update_cancel_btn_p">
        <a class="cancel_btn" href="/users/<%= current_user.id %>">キャンセル</a>
        <%= form.submit "保存",class:"update_btn"%>
      </div>
    </div>

  </body>
<%end%>

<style media="screen">

  /*Twitterアイコン 外側色*/
  .twitter_outside_color{
  background-color: gray;
  }

  /*Twitterアイコン 内側色*/
  .twitter_inside_color span{
  color: gray;
  }

  /*instagramアイコン 外側色*/
  .instagram_outside_color{
  background-color: gray;
  }

  /*instagramアイコン 内側色*/
  .instagram_inside_color span{
  color: #<%= @user.instagram_insidecolor%>;
  }

  /*facebookアイコン 外側色*/
  .facebook_outside_color{
  background-color: #<%= @user.facebook_outsidecolor%>;
  }

  /*facebookアイコン 内側色*/
  .facebook_inside_color span{
  color: #<%= @user.facebook_insidecolor%>;
  }

  /*youtubeアイコン 外側色*/
  .youtube_outside_color{
  background-color: #<%= @user.youtube_outsidecolor%>;
  }

  /*youtubeアイコン 内側色*/
  .youtube_inside_color span{
  color: #<%= @user.youtube_insidecolor%>;
  }

  /*tiktokアイコン 外側色*/
  .tiktok_outside_color{
  background-color: #<%= @user.tiktok_outsidecolor%>;
  }

  /*tiktokアイコン 内側色*/
  .tiktok_inside_color span{
  color: #<%= @user.tiktok_insidecolor%>;
  }


/*色一覧*/
<% ba=["000000","B40404","8A4B08","868A08","5FB404","04B45F","04B4AE","045FB4","0404B4","8904B1","B4045F","585858","FF0000","FF8000","FFFF00","BFFF00","00FF80","00FFFF","00BFFF","0040FF","BF00FF","FF00BF","BDBDBD","FA5858","FAAC58","F3F781","D8F781","81F7BE","81F7F3","81DAF5","819FF7","DA81F5","F781D8","F2F2F2","F6CECE","F6E3CE","F5F6CE","E3F6CE","CEF6D8","CEF6F5","CEECF5","CED8F6","ECCEF5","F6CEEC","FFFFFF","FBEFEF","FBF5EF","FBFBEF","F5FBEF","EFFBF8","EFFBFB","EFF8FB","EFEFFB","F8EFFB","FBEFF8"]%>
<% ba.each do |aaa| %>
.C<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.B<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.A<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.IS<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.IU<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.FS<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.FU<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.YS<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.YU<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.TS<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

<% ba.each do |aaa| %>
.TU<%= aaa%>{
background-color: #<%= aaa%>;
margin-right: 20px;
}
<%end%>

  /*全体*/
  body{
  background-color:  #<%= @user.background_color%>;
  height:1300px;
  }

  @media screen and (max-width: 375px) {
  }

</style>