<%= render 'layouts/error_messages' %>

<div class="profile_edit">
 <%= form_with(model: @user, local: true, multipart: true) do |form| %>

   <!-- ユーザーネーム変更 ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_name_edit" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_icon_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content name_introduce">
       
          <p class="popup_title">名前・自己紹介</p>
          <div class="name_introduce_form_pp">
            <div class="name_introduce_form_p">
                <div class="name_introduce_form_p">
                  <label  class="name_introduce_form_title">名前</label>
                  <p><%= form.text_field :name,class:"name_form",maxlength: "50",required: true %></p>
                  <label class="name_introduce_form_title">自己紹介</label>
                  <p><%= form.text_area :pfl_text,class:"introduce_form",maxlength: "10000"%></p>
                </div>
              </div>
            </div>

       <p><label class="edit_close_btn"  for="trigger_name_edit"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <p><input class="OK" type="submit" value="保存" name="edit_name_introduce"></p>
     </div>
    </div>
   </div>
  </div>

      <!-- 背景色変更-->
  <div class="popup_wrap" >
    <input id="trigger_background_color" type="checkbox" >
    <div class="popup_overlay">
      <div class="popup_content_color">
        <p class="popup_title">背景色設定</p>
        <p><label class="edit_close_btn"  for="trigger_background_color"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <% @color_index.each do |color| %>
          <%= form.radio_button :background_color, color,id:"A#{color}"%>
          <label for="A<%= color%>" class="color_index_p">
            <span class="color_index A<%= color%>"></span>
          </label>
        <%end%>
        <input class="OK" type="submit" value="保存" name="edit_background_color">
      </div>
    </div>
  </div>

  <!-- リンクデザイン ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_link_design" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_link_design" class="popup_trigger"></label>
      <div class="popup_content_p">

          <!-- リンクの文字色 ポップアップ-->
        <div class="popup_wrap">
          <input id="trigger_link_font_color" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">リンクボタンの文字色</p>
            <p><label class="edit_close_btn"  for="trigger_link_font_color"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
              <% @color_index.each do |color| %>
              <%= form.radio_button :link_font_color, color,id:"link_font_color#{color}"%>
              <label for="link_font_color<%= color%>" class="color_index_p">
                  <span class="color_index link_font_color<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="edit_link_font_color">
          </div>
        </div>

<!-- リンクボタンの色 ポップアップ-->
        <div class="popup_wrap">
          <input id="trigger_link_background_color" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">リンクボタンの色</p>
            <p><label class="edit_close_btn"  for="trigger_link_background_color"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
              <% @color_index.each do |color| %>
              <%= form.radio_button :link_background_color, color,id:"link_background_color#{color}"%>
              <label for="link_background_color<%= color%>" class="color_index_p">
                  <span class="color_index link_background_color<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="edit_link_background_color">
          </div>
        </div>

  <!-- フォントデザイン ポップアップ-->
      <div class="popup_content_select">
        <p class="popup_title font_popup_title">リンクデザイン</p>
        <p><label class="edit_close_btn"  for="trigger_link_design"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <p><label for="trigger_link_font_color" class="open_btn_s">リンクの文字色</label></p>
        <p><label for="trigger_link_background_color" class="open_btn_s">リンクボタンの色</label></p>
      </div>

    </div>
   </div>
  </div>

<!-- フォントカラー ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_font_style" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_font_style" class="popup_trigger"></label>
      <div class="popup_content_p">

          <!-- フォント種類 ポップアップ-->
         <div class="popup_wrap">
          <input id="trigger_font_family" type="checkbox">
          <div class="popup_content_font_family">
            <p class="popup_title">フォント種類</p>
            <p><label class="edit_close_btn"  for="trigger_font_family"><i class="fas fa-times-circle edit_close_btn"></i></label></p>

            <div class="font_family_p">
              <% @font_family_index.each do |key,value| %>
                <%= form.radio_button :font_family, value,id:"#{value}"%>
                <label for="<%= value%>" class="font_family_index_p">
                 <p  class="font_family<%= key%>">もじ モジ 文字 FONT font 123</p>
                </label>
              <%end%>
            </div>

            <input class="OK" type="submit" value="保存" name="edit_font_family">
          </div>
        </div>

<!-- フォントカラー ポップアップ-->
        <div class="popup_wrap">
          <input id="trigger_font_color" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">フォントカラー</p>
            <p><label class="edit_close_btn"  for="trigger_font_color"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
              <% @color_index.each do |color| %>
              <%= form.radio_button :font_color, color,id:"font_color#{color}"%>
              <label for="font_color<%= color%>" class="color_index_p">
                  <span class="color_index font_color<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="edit_font_color">
          </div>
        </div>

  <!-- フォントデザイン ポップアップ-->
      <div class="popup_content_select">
        <p class="popup_title font_popup_title">フォントデザイン</p>
        <p><label class="edit_close_btn"  for="trigger_font_style"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <p><label for="trigger_font_family" class="open_btn_s">フォントの種類</label></p>
        <p><label for="trigger_font_color" class="open_btn_s">フォントカラー</label></p>
      </div>

    </div>
   </div>
  </div>

 <!-- アイコンイメージ ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_icon_image" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_icon_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content">
       
        <p class="popup_title">アイコン画像</p>
        <label for="trigger_icon_image_update" style="display:block;">
        <p class="image_select">画像を選択</p>
        </label>
        <%= form.file_field :icon_image, accept: "image/png,image/jpeg,image/gif",id:"trigger_icon_image_update"%>

       <p><label class="edit_close_btn"  for="trigger_icon_image"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <input class="OK" type="submit" value="保存" name="edit_icon_image">
     </div>
    </div>
   </div>
  </div>

   <!-- ヘッダーイメージ ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_header_image" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_header_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content">
       
        <p class="popup_title">ヘッダー画像</p>
        <label for="trigger_header_image_upload" style="display:block;">
        <p class="image_select">画像を選択</p>
        </label>
        <%= form.file_field :header_image, accept: "image/png,image/jpeg,image/gif",id:"trigger_header_image_upload"%>

       <p><label class="edit_close_btn"  for="trigger_header_image"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <input class="OK" type="submit" value="保存" name="edit_header_image">
     </div>
    </div>
   </div>
  </div>

<!-- ヘッダーイメージ表示-->

  <div class="header_image_p">
    <label for="trigger_header_image">
      <% if @user.header_image? %>
        <p><%= image_tag @user.header_image.url,class:"header_image"%></p>
      <% else %>
        <p class="default_header_image"></p>
      <% end %>
      <i class="fas fa-camera camera_header"></i>
      <p class="black_overlay_header"></p>
    </label>
  <!-- アイコンイメージ表示-->
    <label for="trigger_icon_image" >
      <i class="fas fa-camera camera_icon"></i>
      <p class="black_overlay_icon"></p>
      <%= image_tag @user.icon_image.url,class:"icon_image"%>
    </label>

  </div>


  <div class="trigger_btn_p">
    <!-- ユーザーネーム編集ボタン-->
    <label for="trigger_name_edit">
      <div class="trigger_btn">
        <p>名前・自己紹介</p>
      </div>
    </label>
  <!-- 背景色編集ボタン-->
    <label for="trigger_background_color">
      <div class="trigger_btn">
        <p>背景色</p>
      </div>
    </label>
  <!-- フォントデザイン編集ボタン-->
    <label for="trigger_font_style">
      <div class="trigger_btn">
        <p>フォントデザイン</p>
      </div>
    </label>
  </div>

<%end%>

<!-- SNSリンク追加-->
<div class="sns_pp">
  <%= render 'twitters/new' %>
</div>

<% if @twitters.present? %>
  <div class="link_edit_click">
   <p>↓クリックで編集できます</p>
  </div>
<%end%>

<!-- SNS一覧編集-->
<div class="sns_pp">
  <%= render 'twitters/edit' %>
</div>

  <div class="trigger_btn_p">
  <!-- リンク追加ボタン-->
    <label for="trigger_link">
      <div class="trigger_btn">
        <p>リンク追加</p>
      </div>
    </label>
  <!-- リンクデザイン編集ボタン-->
    <label for="trigger_link_design">
      <div class="trigger_btn">
        <p>リンクデザイン</p>
      </div>
    </label>
  </div>

  <%= form_with(model: @link, local: true) do |form| %>

 <!-- ポップアップ リンク追加-->
  <div class="popup_wrap">
    <input id="trigger_link" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_link" class="popup_trigger"></label>
      <div class="popup_content_p">
      <div class="popup_content add_link_popup">
        <p class="popup_title">リンク追加</p>
        <div class="link_form_pp">
          <div class="link_form_p">
            <label  class="form_title">タイトル&emsp;</label>
            <%= form.text_field :title,class:"link_form",maxlength: "1000",required: true %>
            <label class="form_title">ＵＲＬ&emsp;&emsp;</label>
            <%= form.text_field :url,class:"link_form",maxlength: "1000",required: true %>
          <div class="link_coment_form_p">
            <label class="coment_form_title">コメント&emsp;</label>
            <%= form.text_area :coment,class:"link_coment_form",maxlength: "1000"%>
          </div>
        </div>
      </div>
      <p><label class="edit_close_btn"  for="trigger_link"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
      <input class="OK" type="submit" value="保存" name="add_link">
     </div>
    </div>
   </div>
  </div>

 <% end %>

<!-- リンク一覧編集-->
  <%= render 'links/edit' %>

  <style media="screen">
  .profile_edit{
    background-color: #<%=@user.background_color%>;
    height: auto;
    padding-bottom:100px;
  }

  /*色一覧*/

  <% @color_index.each do |color| %>
    .A<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .IS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .IU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .FS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .FU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .YS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .YU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .TS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .TU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>
  
    <% @color_index.each do |color| %>
    .font_color<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  /*フォント種類*/
  <% @font_family_index.each do |key,value| %>
    .font_family<%= key%>{
      font-family: <%= value%>;
      cursor: pointer;
      margin:0px;
    }
  <%end%>

  /*リンクボタンカラー*/
  <% @color_index.each do |color| %>
    .link_background_color<%= color%>{
      background-color: #<%= color%>;
    }
  <%end%>

    /*リンクボタンカラー*/
  <% @color_index.each do |color| %>
    .link_font_color<%= color%>{
      background-color: #<%= color%>;
    }
  <%end%>

    /*リンクカラー*/
  .link_title{
    background-color: #<%= @user.link_background_color%>;
    color: #<%= @user.link_font_color%>;
  }

</style>

