<%= form_with(model: @user, local: true, multipart: true) do |form| %>

   <!-- ユーザーネーム変更 ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_name_edit" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_icon_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content name_introduce">
       
          <p class="popup_title">名前・自己紹介</p>
          <div class="name_introduce_form_pp">
            <div class="name_introduce_form_p">
                <div class="name_introduce_form_p">
                  <label  class="name_introduce_form_title">名前</label>
                  <p><%= form.text_field :name,class:"name_form",maxlength: "1000"%></p>
                  <label class="name_introduce_form_title">自己紹介</label>
                  <p><%= form.text_area :pfl_text,class:"introduce_form",maxlength: "1000"%></p>
                </div>
              </div>
            </div>

       <p><label for="trigger_name_edit" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
       <p><input class="OK" type="submit" value="保存" name="update"></p>
     </div>
    </div>
   </div>
  </div>

      <!-- 背景色変更-->
  <div class="popup_wrap" >
    <input id="trigger_background_color" type="checkbox" >
    <div class="popup_overlay">
      <div class="popup_content_color">
        <p class="popup_title">背景色設定</p>
        <p><label for="trigger_background_color" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></p>
        <% @color_index.each do |color| %>
          <%= form.radio_button :background_color, color,id:"A#{color}"%>
          <label for="A<%= color%>" class="color_index_p">
            <span class="color_index A<%= color%>"></span>
          </label>
        <%end%>
        <input class="OK" type="submit" value="保存" name="update">
      </div>
    </div>
  </div>

  <!-- リンクデザイン ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_link_design" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_link_design" class="popup_trigger"></label>
      <div class="popup_content_p">

          <!-- リンクの文字色 ポップアップ-->
        <div class="popup_wrap">
          <input id="trigger_link_font_color" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">リンクボタンの色</p>
            <p><label for="trigger_link_font_color" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
              <% @color_index.each do |color| %>
              <%= form.radio_button :link_font_color, color,id:"link_font_color#{color}"%>
              <label for="link_font_color<%= color%>" class="color_index_p">
                  <span class="color_index link_font_color<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="update">
          </div>
        </div>

<!-- リンクボタンの色 ポップアップ-->
        <div class="popup_wrap">
          <input id="link_background_color" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">リンクボタンの色</p>
            <p><label for="link_background_color" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
              <% @color_index.each do |color| %>
              <%= form.radio_button :link_background_color, color,id:"link_background_color#{color}"%>
              <label for="link_background_color<%= color%>" class="color_index_p">
                  <span class="color_index link_background_color<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="update">
          </div>
        </div>

  <!-- フォントデザイン ポップアップ-->
      <div class="popup_content_select">
        <p class="popup_title font_popup_title">リンクデザイン</p>
        <p><label for="trigger_link_design" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
        <p><label for="trigger_link_font_color" class="open_btn_s">リンクの文字色</label></p>
        <p><label for="link_background_color" class="open_btn_s">リンクボタンの色</label></p>
      </div>

    </div>
   </div>
  </div>

<!-- フォントカラー ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_font_style" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_font_style" class="popup_trigger"></label>
      <div class="popup_content_p">

          <!-- フォント種類 ポップアップ-->
         <div class="popup_wrap">
          <input id="trigger_font_family" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">フォント種類</p>
            <p><label for="trigger_font_family" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>

            <div class="font_family_p">
              <% @font_family_index.each do |font_family| %>
                <%= form.radio_button :font_family, font_family,id:"#{font_family}"%>
                <label for="<%= font_family%>" class="font_family_index_p">
                 <p  class="font_family<%= font_family%>" style="cursor: pointer;">ふぉんと フォント 文字 Font</p>
                </label>
              <%end%>
            </div>

            <input class="OK" type="submit" value="保存" name="update">
          </div>
        </div>

<!-- フォントカラー ポップアップ-->
        <div class="popup_wrap">
          <input id="trigger_font_color" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">フォントカラー</p>
            <p><label for="trigger_font_color" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
              <% @color_index.each do |color| %>
              <%= form.radio_button :font_color, color,id:"font_color#{color}"%>
              <label for="font_color<%= color%>" class="color_index_p">
                  <span class="color_index font_color<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="update">
          </div>
        </div>

  <!-- フォントデザイン ポップアップ-->
      <div class="popup_content_select">
        <p class="popup_title font_popup_title">フォントデザイン</p>
        <p><label for="trigger_font_style" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
        <p><label for="trigger_font_family" class="open_btn_s">フォントの種類</label></p>
        <p><label for="trigger_font_color" class="open_btn_s">フォントカラー</label></p>
      </div>

    </div>
   </div>
  </div>

 <!-- アイコンイメージ ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_icon_image" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_icon_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content">
       
        <p class="popup_title">アイコン画像</p>
        <label for="trigger_icon_image_update" style="display:block;">
        <p class="image_select">画像を選択</p>
        </label>
        <%= form.file_field :icon_image, accept: "image/png,image/jpeg,image/gif",id:"trigger_icon_image_update"%>

       <p><label for="trigger_icon_image" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
       <input class="OK" type="submit" value="保存" name="update">
     </div>
    </div>
   </div>
  </div>

   <!-- ヘッダーイメージ ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_header_image" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_icon_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content">
       
        <p class="popup_title">ヘッダー画像</p>
        <label for="trigger_header_image_upload" style="display:block;">
        <p class="image_select">画像を選択</p>
        </label>
        <%= form.file_field :header_image, accept: "image/png,image/jpeg,image/gif",id:"trigger_header_image_upload"%>

       <p><label for="trigger_header_image" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
       <input class="OK" type="submit" value="保存" name="update">
     </div>
    </div>
   </div>
  </div>

<!-- ヘッダーイメージ表示-->
<label for="trigger_header_image">
  <div class="header_image_p">

    <% if @user.header_image? %>
      <p><%= image_tag @user.header_image.url,class:"header_image"%></p>
    <% else %>
      <p class="default_header_image"></p>
    <% end %>
    <i class="fas fa-camera camera_header"></i>
    <p class="black_overlay_header"></p>
  
  <!-- アイコンイメージ表示-->
    <label for="trigger_icon_image" >
      <i class="fas fa-camera camera_icon"></i>
      <p class="black_overlay_icon"></p>
      <%= image_tag @user.icon_image.url,class:"icon_image"%>
    </label>

  </div>
</label>

  <div class="trigger_btn_p">
    <!-- ユーザーネーム編集ボタン-->
    <label for="trigger_name_edit">
      <div class="trigger_btn">
        <p>名前・自己紹介</p>
      </div>
    </label>
  <!-- 背景色編集ボタン-->
    <label for="trigger_background_color">
      <div class="trigger_btn">
        <p>背景色</p>
      </div>
    </label>
  <!-- フォントデザイン編集ボタン-->
    <label for="trigger_font_style">
      <div class="trigger_btn">
        <p>フォントデザイン</p>
      </div>
    </label>
  <!-- リンク追加ボタン-->
    <label for="trigger_link">
      <div class="trigger_btn">
        <p>リンク追加</p>
      </div>
    </label>
  <!-- リンクデザイン編集ボタン-->
    <label for="trigger_link_design">
      <div class="trigger_btn">
        <p>リンクデザイン</p>
      </div>
    </label>
  </div>

  <!-- ポップアップ twitter-->
  <div class="popup_wrap">
    <input id="trigger_twitter" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_twitter" class="popup_trigger"></label>
      <div class="popup_content_p">
      <!-- アカウント情報-->
      <div class="popup_wrap">
        <input id="trigger_acount" type="checkbox">
          <div class="popup_content_acount">
            <div class="sns_acount_popup_title">
             <p class="popup_title">Twitterリンク設定</p>
            </div>
          <div class="sns_acount_form_pp">
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのID&emsp;</label>
               <%= form.text_field :twitter_id_1,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;</label>
               <%= form.text_field :twitter_comment_1,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのID&emsp;</label>
               <%= form.text_field :twitter_id_2,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;</label>
               <%= form.text_field :twitter_comment_2,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのID&emsp;</label>
               <%= form.text_field :twitter_id_3,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;</label>
               <%= form.text_field :twitter_comment_3,class:"sns_edit_form",maxlength: "1000"%>
            </div>
           </div>
          <label for="trigger_acount" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label>
          <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
 <!-- 外側色-->
  <div class="popup_wrap">
    <input id="trigger_outsidecolor" type="checkbox">
    <div class="popup_content_c">
      <p class="popup_title">Twitterの外側色</p>
      <p><label for="trigger_outsidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
        <% @color_index.each do |color| %>
         <%= form.radio_button :twitter_outsidecolor, color,id:"C#{color}"%>
         <label for="C<%= color%>" class="color_index_p">
            <span class="color_index C<%= color%>"></span>
          </label>
        <%end%>
      <input class="OK" type="submit" value="保存" name="update">
    </div>
  </div>

 <!-- 内側色-->
  <div class="popup_wrap">
    <input id="trigger_insidecolor" type="checkbox">
    <div class="popup_content_c">
      <p class="popup_title">Twitterの内側色</p>
      <p><label for="trigger_insidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
        <% @color_index.each do |color| %>
          <%= form.radio_button :twitter_insidecolor, color,id:"B#{color}"%>
          <label for="B<%= color%>" class="color_index_p">
            <span class="color_index B<%= color%>"></span>
          </label>
        <%end%>
      <input class="OK" type="submit" value="保存" name="update">
    </div>
  </div>
    <!-- twitterポップアップ選択画面 -->
      <div class="popup_content_select">
        <p class="popup_title">Twitter設定</p>
        <p><label for="trigger_twitter" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
        <p><label for="trigger_acount" class="open_btn_s">Twitterのリンクを設定する</label></p>
        <p><label for="trigger_outsidecolor" class="open_btn_s">Twitterアイコンの色を設定(外側)</label></p>
        <p><label for="trigger_insidecolor" class="open_btn_s">Twitterアイコンの色を設定(内側)</label></p>
      </div>
    </div>
   </div>
  </div>

<!-- ポップアップ instagram-->
<div class="popup_wrap">
  <input id="trigger_instagram" type="checkbox">
    <div class="popup_overlay">
    <label for="trigger_instagram" class="popup_trigger"></label>
     <div class="popup_content_p">
    <!-- アカウント情報-->
    <div class="popup_wrap">
      <input id="trigger_instagram_account" type="checkbox">
      <div class="popup_content_acount">
        <p class="popup_title">Instagramリンク設定</p>
          <div class="sns_acount_form_pp">
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのID&emsp;</label>
               <%= form.text_field :instagram_id_1,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;</label>
               <%= form.text_field :instagram_comment_1,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのID&emsp;</label>
               <%= form.text_field :instagram_id_2,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;</label>
               <%= form.text_field :instagram_comment_2,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのID&emsp;</label>
               <%= form.text_field :instagram_id_3,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;</label>
               <%= form.text_field :instagram_comment_3,class:"sns_edit_form",maxlength: "1000"%>
            </div>
           </div>
        <label for="trigger_instagram_account" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label>
        <input class="OK" type="submit" value="保存" name="update">
        </div>
    </div>
    <!-- 外側色設定-->
    <div class="popup_wrap">
      <input id="trigger_instagram_outsidecolor" type="checkbox">
        <div class="popup_content_c">
          <p class="popup_title">Instagramの外側色</p>
          <p><label for="trigger_instagram_outsidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
            <% @color_index.each do |color| %>
              <%= form.radio_button :instagram_outsidecolor, color,id:"IS#{color}"%>
              <label for="IS<%= color%>" class="color_index_p">
                <span class="color_index IS<%= color%>"></span>
              </label>
            <%end%>
        <input class="OK" type="submit" value="保存" name="update">
      </div>
    </div>
    <!-- 内側色設定-->
    <div class="popup_wrap">
      <input id="trigger_instagram_insidecolor" type="checkbox">
        <div class="popup_content_c">
          <p class="popup_title">Instagramの内側色</p>
          <p><label for="trigger_instagram_insidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
            <% @color_index.each do |color| %>
                <%= form.radio_button :instagram_insidecolor, color,id:"IU#{color}"%>
                <label for="IU<%= color%>" class="color_index_p">
                <span class="color_index IU<%= color%>"></span>
              </label>
            <%end%>
        <input class="OK" type="submit" value="保存" name="update">
      </div>
    </div>
      <!-- instagramポップアップ 選択画面 -->
        <div class="popup_content_select">
          <p class="popup_title">Instagram設定</p>
          <p><label for="trigger_instagram" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
          <p><label for="trigger_instagram_account" class="open_btn_s">Instagramのリンクを設定する</label></p>
          <p><label for="trigger_instagram_outsidecolor" class="open_btn_s">Instagramアイコンの色を設定(外側)</label></p>
          <p><label for="trigger_instagram_insidecolor" class="open_btn_s">Instagramアイコンの色を設定(内側)</label></p>
        </div>
    </div>
  </div>
</div>

  <!-- ポップアップ facebook-->
  <div class="popup_wrap">
    <input id="trigger_facebook" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_facebook" class="popup_trigger"></label>
      <div class="popup_content_p">
      <!-- アカウント情報-->
      <div class="popup_wrap">
        <input id="trigger_facebook_account" type="checkbox">
        <div class="popup_content_acount">
          <p class="popup_title">facebookリンク設定</p>
          <div class="sns_acount_form_pp">
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :facebook_id_1,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :facebook_comment_1,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :facebook_id_2,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :facebook_comment_2,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :facebook_id_3,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :facebook_comment_3,class:"sns_edit_form",maxlength: "1000"%>
            </div>
           </div>
          <label for="trigger_facebook_account" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label>
          <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
      <!-- 外側色-->
      <div class="popup_wrap">

        <input id="trigger_facebook_outsidecolor" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">facebookの外側色</p>
            <p><label for="trigger_facebook_outsidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
              <% @color_index.each do |color| %>
                <%= form.radio_button :facebook_outsidecolor, color,id:"FS#{color}"%>
                <label for="FS<%= color%>" class="color_index_p">
                  <span class="color_index IS<%= color%>"></span>
                </label>
              <%end%>
          <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
      <!-- 内側色-->
      <div class="popup_wrap">
        <input id="trigger_facebook_insidecolor" type="checkbox">
        <div class="popup_content_c">
          <p class="popup_title">facebookの内側色</p>
          <p><label for="trigger_facebook_insidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
            <% @color_index.each do |color| %>
              <%= form.radio_button :facebook_insidecolor, color,id:"FU#{color}"%>
              <label for="FU<%= color%>" class="color_index_p">
                <span class="color_index IU<%= color%>"></span>
              </label>
            <%end%>
          <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
      <!-- facebookポップアップ 選択画面 -->
      <div class="popup_content_select">
        <p class="popup_title">Facebook設定</p>
        <p><label for="trigger_facebook" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
        <p><label for="trigger_facebook_account" class="open_btn_s">facebookのリンクを設定する</label></p>
        <p><label for="trigger_facebook_outsidecolor" class="open_btn_s">facebookアイコンの色を設定(外側)</label></p>
        <p><label for="trigger_facebook_insidecolor" class="open_btn_s">facebookアイコンの色を設定(内側)</label></p>
      </div>
      </div>
    </div>
  </div>

  <!-- ポップアップ youtube-->
  <div class="popup_wrap">
    <input id="trigger_youtube" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_facebook" class="popup_trigger"></label>
      <div class="popup_content_p">
      <!-- アカウント情報-->
      <div class="popup_wrap">
        <input id="trigger_youtube_account" type="checkbox">
        <div class="popup_content_acount">
          <p class="popup_title">youtubeリンク設定</p>
          <div class="sns_acount_form_pp">
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :youtube_id_1,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :youtube_comment_1,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :youtube_id_2,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :youtube_comment_2,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :youtube_id_3,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :youtube_comment_3,class:"sns_edit_form",maxlength: "1000"%>
            </div>
           </div>
          <label for="trigger_youtube_account" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label>
          <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
      <!-- 外側色-->
      <div class="popup_wrap">
        <input id="trigger_youtube_outsidecolor" type="checkbox">
        <div class="popup_content_c">
          <p class="popup_title">Youtubeの外側色</p>
          <p><label for="trigger_youtube_outsidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
            <% @color_index.each do |color| %>
              <%= form.radio_button :youtube_outsidecolor, color,id:"YS#{color}"%>
              <label for="YS<%= color%>" class="color_index_p">
                <span class="color_index IS<%= color%>"></span>
              </label>
            <%end%>
        <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
      <!-- 内側色-->
      <div class="popup_wrap">
        <input id="trigger_youtube_insidecolor" type="checkbox">
        <div class="popup_content_c">
        <p class="popup_title">Youtubeの内側色</p>
        <p><label for="trigger_youtube_insidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
            <% @color_index.each do |color| %>
              <%= form.radio_button :youtube_insidecolor, color,id:"YU#{color}"%>
              <label for="YU<%= color%>" class="color_index_p">
              <span class="color_index IU<%= color%>"></span>
              </label>
            <%end%>
          <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
      <!-- youtubeポップアップ 選択画面 -->
        <div class="popup_content_select">
          <p class="popup_title">Youtubeリンク設定</p>
          <p><label for="trigger_youtube" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
          <p><label for="trigger_youtube_account" class="open_btn_s">Youtubeのリンクを設定する</label></p>
          <p><label for="trigger_youtube_outsidecolor" class="open_btn_s">Youtubeアイコンの色を設定(外側)</label></p>
          <p><label for="trigger_youtube_insidecolor" class="open_btn_s">Youtubeアイコンの色を設定(内側)</label></p>
        </div>
      </div>
    </div>
  </div>

  <!-- ポップアップ tiktok-->
  <div class="popup_wrap">
    <input id="trigger_tiktok" type="checkbox">
    <div class="popup_overlay">
    <label for="trigger_tiktok" class="popup_trigger"></label>
      <div class="popup_content_p">
      <!-- アカウント情報-->
      <div class="popup_wrap">
        <input id="trigger_tiktok_account" type="checkbox">
        <div class="popup_content_acount">
          <p class="popup_title">Tiktokリンク設定</p>
           <div class="sns_acount_form_pp">
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :tiktok_id_1,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :tiktok_comment_1,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :tiktok_id_2,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :tiktok_comment_2,class:"sns_edit_form",maxlength: "1000"%>
            </div>
            <div class="sns_acount_form_p">
              <label  class="form_title">アカウントのURL&emsp;</label>
               <%= form.text_field :tiktok_id_3,class:"sns_edit_form",maxlength: "1000"%>
              <label class="form_title">コメントを追加&emsp;&emsp;</label>
               <%= form.text_field :tiktok_comment_3,class:"sns_edit_form",maxlength: "1000"%>
            </div>
           </div>
          <label for="trigger_tiktok_account" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label>
          <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
      <!-- 外側色-->
      <div class="popup_wrap">
        <input id="trigger_tiktok_outsidecolor" type="checkbox">
        <div class="popup_content_c">
          <p class="popup_title">Tiktokの外側色</p>
          <p><label for="trigger_tiktok_outsidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
            <% @color_index.each do |color| %>
              <%= form.radio_button :tiktok_outsidecolor, color,id:"TS#{color}"%>
              <label for="TS<%= color%>" class="color_index_p">
               <span class="color_index IS<%= color%>"></span>
              </label>
            <%end%>
          <input class="OK" type="submit" value="保存" name="update">
        </div>
      </div>
        <!-- 内側色-->
         <div class="popup_wrap">
          <input id="trigger_tiktok_insidecolor" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">Tiktokの内側の色</p>
            <p><label for="trigger_tiktok_insidecolor" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
              <% @color_index.each do |color| %>
                <%= form.radio_button :tiktok_insidecolor, color,id:"TU#{color}"%>
                <label for="TU<%= color%>" class="color_index_p">
                <span class="color_index IU<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="update">
          </div>
         </div>
        <!-- tiktokポップアップ 選択画面 -->
        <div class="popup_content_select">
          <p class="popup_title">Tiktokリンク設定</p>
          <p><label for="trigger_tiktok" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
          <p><label for="trigger_tiktok_account" class="open_btn_s">Tiktokのリンクを設定する</label></p>
          <p><label for="trigger_tiktok_outsidecolor" class="open_btn_s">Tiktokアイコンの色を設定(外側)</label></p>
          <p><label for="trigger_tiktok_insidecolor" class="open_btn_s">Tiktokアイコンの色を設定(内側)</label></p>
        </div>
      </div>
    </div>
  </div>

  <style media="screen">

  /*Twitterアイコン 外側色*/
  .twitter_outsidecolor{
  background-color: #<%= @user.twitter_outsidecolor%>;
  }

  /*Twitterアイコン 内側色*/
  .twitter_insidecolor{
  color: #<%= @user.twitter_insidecolor%>;
  }

  /*instagramアイコン 外側色*/
  .instagram_outsidecolor{
  background-color: #<%= @user.instagram_outsidecolor%>;
  }

  /*instagramアイコン 内側色*/
  .instagram_insidecolor{
  color: #<%= @user.instagram_insidecolor%>;
  }

  /*facebookアイコン 外側色*/
  .facebook_outsidecolor{
  background-color: #<%= @user.facebook_outsidecolor%>;
  }

  /*facebookアイコン 内側色*/
  .facebook_insidecolor{
  color: #<%= @user.facebook_insidecolor%>;
  }

  /*youtubeアイコン 外側色*/
  .youtube_outsidecolor{
  background-color: #<%= @user.youtube_outsidecolor%>;
  }

  /*youtubeアイコン 内側色*/
  .youtube_insidecolor{
  color: #<%= @user.youtube_insidecolor%>;
  }

  /*tiktokアイコン 外側色*/
  .tiktok_outsidecolor{
  background-color: #<%= @user.tiktok_outsidecolor%>;
  }

  /*tiktokアイコン 内側色*/
  .tiktok_insidecolor{
  color: #<%= @user.tiktok_insidecolor%>;
  }

  /*色一覧*/
  <% @color_index.each do |color| %>
    .C<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .B<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .A<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .IS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .IU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .FS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .FU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .YS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .YU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .TS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .TU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>
  
    <% @color_index.each do |color| %>
    .font_color<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  /*フォント種類*/
  <% @font_family_index.each do |font_family| %>
    .font_family<%= font_family%>{
      font-family: "<%= font_family%>";
      display:inline;
    }
  <%end%>

  /*リンクボタンカラー*/
  <% @color_index.each do |color| %>
    .link_background_color<%= color%>{
      background-color: #<%= color%>;
    }
  <%end%>

    /*リンクボタンカラー*/
  <% @color_index.each do |color| %>
    .link_font_color<%= color%>{
      background-color: #<%= color%>;
    }
  <%end%>

    /*リンクカラー*/
  .link_title{
    background-color: #<%= @user.link_background_color%>;
    color: #<%= @user.link_font_color%>;
  }

    body{
      background-color:  #<%= @user.background_color%>;
    }

</style>

  <!-- SNSアイコン-->
  <div class="sns_pp">

    <label for="trigger_twitter">
      <div class="sns_outside twitter_outsidecolor">
         <p class="sns_text"></p>
         <span class="fab fa-twitter sns_inside twitter_insidecolor"></span>
      </div>
    </label>

    <label for="trigger_instagram">
      <div class="sns_outside instagram_outsidecolor">
       <p class="sns_text"></p>
       <span class="fab fa-instagram sns_inside instagram_insidecolor"></span>
      </div>
    </label>

    <label for="trigger_facebook">
      <div class="sns_outside facebook_outsidecolor">
        <p class="sns_text"></p>
        <span class="fab fa-facebook sns_inside facebook_insidecolor"></span>
      </div>
    </label>

    <label for="trigger_youtube">
     <div class="sns_outside youtube_outsidecolor">
        <p class="sns_text"></p>
        <span class="fab fa-youtube sns_inside youtube_insidecolor"></span>
      </div>
    </label>

    <label for="trigger_tiktok">
     <div class="sns_outside tiktok_outsidecolor">
       <p class="sns_text"></p>
       <span class="fab fa-tiktok sns_inside tiktok_insidecolor"></span>
      </div>
    </label>

  </div>

<%end%>

 <!-- リンク一覧編集 仮表示-->
<% @links.each do |link| %>  
  <%= form_with(model: link, local: true, multipart: true) do |form| %>

    <div class="popup_wrap">
    <input id="trigger_<%= link%>" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_<%= link%>" class="popup_trigger"></label>
      <div class="popup_content_p">
      <div class="popup_content">
        <p class="popup_title">リンク設定</p>

      <div class="link_pp">
          <p><%= form.text_field :title %></p>
          <p><%= form.text_field :url %></p>
          <p><%= form.text_area :coment %></p>
      </div>
      <%= link_to '削除', "/links/#{link.id}", method: :delete, data: {confirm: "削除しますか?"}  %>
      <input  class="OK" type="submit" value="保存" name="update">
      <p><label for="trigger_<%= link%>" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>

     </div>
    </div>
   </div>
  </div>

      <label for="trigger_<%= link%>">
        <div class="link_pp">
            <div class="link_title">
            <p><%= link.title %></p>
            </div>
          </a>
          <div class="link_coment">
            <p><%= link.coment%></p>
          </div>
        </div>
      </label>

  <% end %>
 <% end %>

 <%= form_with(model: @link, local: true) do |form| %>

 <!-- ポップアップ リンク追加-->
  <div class="popup_wrap">
    <input id="trigger_link" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_link" class="popup_trigger"></label>
      <div class="popup_content_p">
      <div class="popup_content">
        <p class="popup_title">リンク追加</p>
        <div class="link_form_pp">
          <div class="link_form_p">
            <label  class="form_title">タイトル&emsp;</label>
            <%= form.text_field :title,class:"link_form",maxlength: "1000"%>
            <label class="form_title">ＵＲＬ&emsp;&emsp;</label>
            <%= form.text_field :url,class:"link_form",maxlength: "1000"%>
          <div class="link_coment_form_p">
            <label class="coment_form_title">コメント&emsp;</label>
            <%= form.text_area :coment,class:"link_coment_form",maxlength: "1000"%>
          </div>
        </div>
      </div>
      <p><label for="trigger_link" class="edit_close_btn"><i class="fas fa-times-circle"></i></label></label></p>
      <input class="OK" type="submit" value="保存" name="update">
     </div>
    </div>
   </div>
  </div>

 <% end %>