<%= render 'layouts/error_messages' %>

<div class="profile_edit">
 <%= form_with(model: @user, local: true, multipart: true) do |form| %>

   <!-- ユーザーネーム変更 ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_name_edit" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_icon_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content name_introduce">
       
          <p class="popup_title">名前・自己紹介</p>
          <div class="name_introduce_form_pp">
            <div class="name_introduce_form_p">
                <div class="name_introduce_form_p">
                  <label  class="name_introduce_form_title">名前</label>
                  <p><%= form.text_field :name,class:"name_form",maxlength: "50",required: true %></p>
                  <label class="name_introduce_form_title">自己紹介</label>
                  <p><%= form.text_area :pfl_text,class:"introduce_form",maxlength: "10000"%></p>
                </div>
              </div>
            </div>

       <p><label class="edit_close_btn"  for="trigger_name_edit"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <p><input class="OK" type="submit" value="保存" name="edit_name_introduce"></p>
     </div>
    </div>
   </div>
  </div>

      <!-- 背景色変更-->
  <div class="popup_wrap" >
    <input id="trigger_background_color" type="checkbox" >
    <div class="popup_overlay">
      <div class="popup_content_color">
        <p class="popup_title">背景色設定</p>
        <p><label class="edit_close_btn"  for="trigger_background_color"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <% @color_index.each do |color| %>
          <%= form.radio_button :background_color, color,id:"A#{color}"%>
          <label for="A<%= color%>" class="color_index_p">
            <span class="color_index A<%= color%>"></span>
          </label>
        <%end%>
        <input class="OK" type="submit" value="保存" name="edit_background_color">
      </div>
    </div>
  </div>

<!-- フォントカラー ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_font_style" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_font_style" class="popup_trigger"></label>
      <div class="popup_content_p">

          <!-- フォント種類 ポップアップ-->
         <div class="popup_wrap">
          <input id="trigger_font_family" type="checkbox">
          <div class="popup_content_font_family">
            <p class="popup_title">フォント種類</p>
            <p><label class="edit_close_btn"  for="trigger_font_family"><i class="fas fa-times-circle edit_close_btn"></i></label></p>

            <div class="font_family_p">
              <% @font_family_index.each do |key,value| %>
                <%= form.radio_button :font_family, value,id:"#{value}"%>
                <label for="<%= value%>" class="font_family_index_p">
                 <p  class="font_family<%= key%>">もじ モジ 文字 FONT font 123</p>
                </label>
              <%end%>
            </div>

            <input class="OK" type="submit" value="保存" name="edit_font_family">
          </div>
        </div>

<!-- フォントカラー ポップアップ-->
        <div class="popup_wrap">
          <input id="trigger_font_color" type="checkbox">
          <div class="popup_content_c">
            <p class="popup_title">フォントカラー</p>
            <p><label class="edit_close_btn"  for="trigger_font_color"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
              <% @color_index.each do |color| %>
              <%= form.radio_button :font_color, color,id:"font_color#{color}"%>
              <label for="font_color<%= color%>" class="color_index_p">
                  <span class="color_index font_color<%= color%>"></span>
                </label>
              <%end%>
            <input class="OK" type="submit" value="保存" name="edit_font_color">
          </div>
        </div>

  <!-- フォントデザイン ポップアップ-->
      <div class="popup_content_select">
        <p class="popup_title font_popup_title">フォントデザイン</p>
        <p><label class="edit_close_btn"  for="trigger_font_style"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
        <p><label for="trigger_font_family" class="open_btn_s">フォントの種類</label></p>
        <p><label for="trigger_font_color" class="open_btn_s">フォントカラー</label></p>
      </div>

    </div>
   </div>
  </div>

  <!-- プロフィール公開設定 ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_open_status" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_header_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content open_status_popup">
       
        <p class="popup_title" style="padding-bottom:50px;">公開設定</p>
           <div class="custom-control custom-switch" style="text-align:center;">
            <%= form.check_box :open_status,checked_value:"0",unchecked_value:"1",class:"custom-control-input",id:"customSwitch1"%>
            <label class="custom-control-label" for="customSwitch1">ユーザーの一覧ページに表示する</label>
          </div>

       <p><label class="edit_close_btn"  for="trigger_open_status"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <input class="OK" type="submit" value="保存" name="open_status">
     </div>
    </div>
   </div>
  </div>

 <!-- アイコンイメージ ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_icon_image" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_icon_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content image_popup">
       
        <p class="popup_title">アイコン画像</p>
        <label for="trigger_icon_image_update" style="display:block;">
        <p class="image_select">画像を選択</p>
        </label>
        <%= form.file_field :icon_image, accept: "image/png,image/jpeg,image/gif",id:"trigger_icon_image_update"%>

       <p><label class="edit_close_btn"  for="trigger_icon_image"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <input class="OK" type="submit" value="保存" name="edit_icon_image">
     </div>
    </div>
   </div>
  </div>

   <!-- ヘッダーイメージ ポップアップ-->
  <div class="popup_wrap">
    <input id="trigger_header_image" type="checkbox">
    <div class="popup_overlay">
      <label for="trigger_header_image" class="popup_trigger"></label>
      <div class="popup_content_p">
        <div class="popup_content image_popup">
       
        <p class="popup_title">ヘッダー画像</p>
        <label for="trigger_header_image_upload" style="display:block;">
        <p class="image_select">画像を選択</p>
        </label>
        <%= form.file_field :header_image, accept: "image/png,image/jpeg,image/gif",id:"trigger_header_image_upload"%>

       <p><label class="edit_close_btn"  for="trigger_header_image"><i class="fas fa-times-circle edit_close_btn"></i></label></p>
       <input class="OK" type="submit" value="保存" name="edit_header_image">
     </div>
    </div>
   </div>
  </div>

<!-- ヘッダーイメージ表示-->

  <div class="header_image_p">
    <label for="trigger_header_image">
      <% if @user.header_image? %>
        <p><%= image_tag @user.header_image.url,class:"header_image"%></p>
      <% else %>
        <p class="default_header_image"></p>
      <% end %>
      <i class="fas fa-camera camera_header"></i>
      <p class="black_overlay_header"></p>
    </label>
  <!-- アイコンイメージ表示-->
    <label for="trigger_icon_image" >
      <i class="fas fa-camera camera_icon"></i>
      <p class="black_overlay_icon"></p>
      <%= image_tag @user.icon_image.url,class:"icon_image"%>
    </label>

  </div>

  <div class="trigger_btn_p">
    <!-- ユーザーネーム編集ボタン-->
    <label for="trigger_name_edit">
      <div class="trigger_btn">
        <p>名前・自己紹介</p>
      </div>
    </label>
  <!-- 背景色編集ボタン-->
    <label for="trigger_background_color">
      <div class="trigger_btn">
        <p>背景色</p>
      </div>
    </label>
  <!-- フォントデザイン編集ボタン-->
    <label for="trigger_font_style">
      <div class="trigger_btn">
        <p>フォントデザイン</p>
      </div>
    </label>
 <!-- 公開設定ボタン-->
    <label for="trigger_open_status">
      <div class="trigger_btn">
        <p>公開設定</p>
      </div>
    </label>
  </div>

<%end%>

<!-- SNSリンク追加-->
<div class="sns_pp">
  <%= render 'websites/new' %> 
</div>

<% if @websites.present?%>
  <div class="link_edit_click">
   <p>↓ クリックでデザイン・リンクを編集できます</p>
  </div>
<%end%>

<!-- SNS一覧編集-->
<div class="sns_pp">
  <%= render 'websites/edit' %> 
</div>

<!-- リンク追加-->
<%= render 'links/new' %>

 <!-- リンク一覧編集-->
<% if @links.present? %>
  <div class="link_edit_click" style="margin:30px 0px 30px 0px;">
   <p>↓ クリックでデザイン・リンクを編集できます</p>
  </div>
<%end%>

<!-- リンク一覧編集-->
<%= render 'links/edit' %>

<style>
  .profile_edit{
    background-color: #<%=@user.background_color%>;
    height: auto;
    padding-bottom:100px;
  }

  /*色一覧*/
  <% @color_index.each do |color| %>
    .A<%= color%>{
    background-color: #<%= color%>;
    } 
  <%end%>

  <% @color_index.each do |color| %>
    .IS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .IU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .FS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .FU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .YS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .YU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .TS<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .TU<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>
  
    <% @color_index.each do |color| %>
    .font_color<%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  /*フォント種類*/
  <% @font_family_index.each do |key,value| %>
    .font_family<%= key%>{
      font-family: <%= value%>;
      cursor: pointer;
      margin:0px;
    }
  <%end%>

</style>

