<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%= form_with model: @user, local: true do |f| %>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <%
  aw=["000000","B40404","8A4B08","868A08","5FB404","04B45F","04B4AE","045FB4","0404B4","8904B1","B4045F","585858","FF0000","FF8000","FFFF00","BFFF00","00FF80","00FFFF","00BFFF","0040FF","BF00FF","FF00BF","BDBDBD","FA5858","FAAC58","F3F781","D8F781","81F7BE","81F7F3","81DAF5","819FF7","DA81F5","F781D8","F2F2F2","F6CECE","F6E3CE","F5F6CE","E3F6CE","CEF6D8","CEF6F5","CEECF5","CED8F6","ECCEF5","F6CEEC","FFFFFF","FBEFEF","FBF5EF","FBFBEF","F5FBEF","EFFBF8","EFFBFB","EFF8FB","EFEFFB","F8EFFB","FBEFF8"]
  %>

   <!-- ヘッダー-->
      <header>
        <div class="header">

  <!-- キャンセルボタン-->
            <a class="cancel" href="/user/<%= @current_user.id %>/pfl">✕</a>
  <!-- キャンセルボタン-->

          <div class="header_font">プロフィールを変更</div>

          <!-- 保存ボタン-->
          <input class="update_btns" type="submit" value="完了">
          <!-- 保存ボタン-->
        </div>
      </header>
      <!-- ヘッダー-->

  <body>
<!-- ヘッダー画像-->
<div class="header_oya">
        <label for="file_uplod">

             <img  class="header_image" src="<%= "/user_images/#{@user.header_image}" %>">
             <span class="black2"></span>
               <i class="fas fa-camera camera2"></i>
              <a href=""></a>
        <input name="h" type="file" id="file_uplod">
        </label>
  </div>
<!-- ヘッダー画像-->

<!-- アイコン画像-->
  <div class="icon_image_oya">
    <label for="file_upload" >
       <i class="fas fa-camera camerai"></i>
        <img  class="icon_image" src="<%= "/user_images/#{@user.icon_image}" %>">
         <span class="black"></span>
     <input name="i" type="file" id="file_upload">
       </label>
    </div>
<!-- アイコン画像-->

<!-- 背景色変更-->
<div class="popup_wrap" >
<input id="trigger" type="checkbox" >
    <div class="popup_overlay">

        <div class="popup_content">
<p class="color_edit_title">背景色設定</p>
  <p><label for="trigger" class="close_btn">×</label></p>
<input class="sns_OK" type="submit" value="保存" name="back_color_update">

<% aw.each do |a| %>
<input id="A<%= a%>" type="radio" name="back_color" value="<%= a%>" <%= "checked" if @user.background_color== a%>><!-- ピンク　-->
<label for="A<%= a%>" class="color_index_oya">
<span class="color_index A<%= a%>"></span>
</label>
<%end%>
        </div>
    </div>
</div>
<!-- 背景色変更-->



<!-- 各編集ボタン-->
<div class="edit_content">

  <label for="trigger" class="open_btna" >
    <div class="background_color_edit">
      <p>背景色を変更</p>
    </div>
  </label>

  <label for="trigger_link" class="open_btn_link" >
    <div class="background_color_edit">
      <p>リンク設定</p>
    </div>
  </label>

</div>
<!-- 各編集ボタン-->

<!-- ポップアップ twitter-->
<div class="popup_wrap">
<input id="trigger2" type="checkbox">
    <div class="popup_overlay">
        <label for="trigger2" class="popup_trigger"></label>
        <div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
  <input id="trigger_n" type="checkbox">
  <div class="popup_content_n">
<p class="sns_title">Twitter設定<span class="Q"> ※3つまで</p>

   <div class="twitter_edit">
      <p class="sns_edit_p">TwitterのID</p>
      <input  class="sns_edit_naka" name="twitter" value="<%= @user.twitter_id_1 %>">
  　  <p class="sns_edit_p">アカウントの説明</p>
      <input class="sns_edit_naka" maTlength='7' name="Twitter_text1" value="<%= @user.twitter_comment_1 %>"><span class="limit"> ※7文字以内</span>
  </div>
  <div class="twitter_edit">
     <p class="sns_edit_p">TwitterのID </p>
     <input class="sns_edit_naka" name="Twitter2" value="<%= @user.twitter_id_2 %>">
 　  <p class="sns_edit_p">アカウントのの説明</p>
   <input class="sns_edit_naka" maTlength='7' name="Twitter_text2" value="<%= @user.twitter_comment_2 %>"><span class="limit"> ※7文字以内</span>
 </div>
 <div class="twitter_edit">
    <p class="sns_edit_p">TwitterのID</p>
    <input class="sns_edit_naka" name="Twitter3" value="<%= @user.twitter_id_3 %>">
　  <p class="sns_edit_p">アカウントの説明</p>
  <input class="sns_edit_naka" maTlength='7' name="Twitter_text3" value="<%= @user.twitter_comment_3 %>"><span class="limit"> ※7文字以内</span>
</div>

　<label for="trigger_n" class="close_btn">×</label>
  <input class="sns_OK" type="submit" value="保存" name="twitter_id_update">
  </div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
  <input id="trigger_c" type="checkbox">
  <div class="popup_content_c">

    <p class="color_edit_title">Twitterの外側色</p>
    <p><label for="trigger_c" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="C<%= a%>" type="radio" name="twitter_color_soto" value="<%= a%>" <%= "checked" if @user.twitter_outsidecolor== a%>>
    <label for="C<%= a%>" class="color_index_oya">
    <span class="color_index C<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="twitter_color_soto_update">

  </div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

  <input id="trigger_uti" type="checkbox">

  <div class="popup_content_uti">
    <p class="color_edit_title">Twitterの内側色</p>
    <p><label for="trigger_uti" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="B<%= a%>" type="radio" name="twitter_color_uti" value="<%= a%>" <%= "checked" if @user.twitter_insidecolor== a%>><!-- ピンク　-->
    <label for="B<%= a%>" class="color_index_oya">
    <span class="color_index B<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="twitter_color_uti_update">
  </div>

<!-- 内側カラー -->

<!-- twitterポップアップ　選択画面 -->
<div class="popup_content_sentaku">
  <p><label for="trigger2" class="close_btn">×</label></p>
  <p><label for="trigger_n" class="open_btn_s">Twitterアカウントを設定する</label></p>
  <p><label for="trigger_c" class="open_btn_s">Twitterアイコン外側カラー変更</label></p>
  <p><label for="trigger_uti" class="open_btn_s">Twitterアイコン内側カラー変更</label></p>
</div>
<!-- twitterポップアップ　選択画面 -->
        </div>
    </div>
</div>
<!-- ポップアップ twitter-->

<!-- ポップアップ instagram-->
<div class="popup_wrap">
<input id="trigger_instagram" type="checkbox">
    <div class="popup_overlay">
        <label for="trigger_instagram" class="popup_trigger"></label>
        <div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
  <input id="trigger_instagram_account" type="checkbox">

  <div class="popup_content_n">
    <p class="sns_title">Instagram設定<span class="Q"> ※3つまで</p>

    <div class="twitter_edit">
      <p class="sns_edit_p">InstagramのID</p>
      <input  class="sns_edit_naka" name="instagram" value="<%= @user.instagram_id_1 %>">
  　  <p class="sns_edit_p">アカウントの説明</p>
      <input class="sns_edit_naka" maTlength='7' name="instagram_text1" value="<%= @user.instagram_comment_1 %>"><span class="limit"> ※7文字以内</span>
    </div>
  <div class="twitter_edit">
     <p class="sns_edit_p">InstagramのID </p>
     <input class="sns_edit_naka" name="instagram2" value="<%= @user.instagram_id_2 %>">
 　  <p class="sns_edit_p">アカウントの説明</p>
   <input class="sns_edit_naka" maTlength='7' name="instagram_text2" value="<%= @user.instagram_comment_2 %>"><span class="limit"> ※7文字以内</span>
 </div>

　<label for="trigger_instagram_account" class="close_btn">×</label>
  <input class="sns_OK" type="submit" value="保存" name="instagram_id_update">
  </div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
  <input id="trigger_instagram_color_soto" type="checkbox">
  <div class="popup_content_c">

    <p class="color_edit_title">Instagramの外側色</p>
    <p><label for="trigger_instagram_color_soto" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="IS<%= a%>" type="radio" name="instagram_color_soto" value="<%= a%>" <%= "checked" if @user.instagram_outsidecolor== a%>>
    <label for="IS<%= a%>" class="color_index_oya">
    <span class="color_index IS<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="instagram_color_soto_update">

  </div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

  <input id="trigger_instagram_color_uti" type="checkbox">

  <div class="popup_content_uti">
    <p class="color_edit_title">Instagramの内側色</p>
    <p><label for="trigger_instagram_color_uti" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="IU<%= a%>" type="radio" name="instagram_color_uti" value="<%= a%>" <%= "checked" if @user.instagram_insidecolor== a%>><!-- ピンク　-->
    <label for="IU<%= a%>" class="color_index_oya">
    <span class="color_index IU<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="instagram_color_uti_update">
  </div>

<!-- 内側カラー -->

<!-- instagramポップアップ　選択画面 -->
<div class="popup_content_sentaku">
  <p><label for="trigger_instagram" class="close_btn">×</label></p>
  <p><label for="trigger_instagram_account" class="open_btn_s">Instagramアカウントを設定する</label></p>
  <p><label for="trigger_instagram_color_soto" class="open_btn_s">Instagramアイコン外側カラー変更</label></p>
  <p><label for="trigger_instagram_color_uti" class="open_btn_s">Instagramアイコン内側カラー変更</label></p>
</div>
<!-- 選択画面 -->
        </div>
    </div>
</div>
<!-- ポップアップ instagram-->

<!-- ポップアップ facebook-->
<div class="popup_wrap">
<input id="trigger_facebook" type="checkbox">
    <div class="popup_overlay">
        <label for="trigger_facebook" class="popup_trigger"></label>
        <div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
  <input id="trigger_facebook_account" type="checkbox">

  <div class="popup_content_n">
    <p class="sns_title">facebook設定<span class="Q"> ※3つまで</p>

    <div class="twitter_edit">
      <p class="sns_edit_p">facebookのID</p>
      <input  class="sns_edit_naka" name="facebook" value="<%= @user.facebook_id_1 %>">
  　  <p class="sns_edit_p">アカウントの説明</p>
      <input class="sns_edit_naka" maTlength='7' name="facebook_text1" value="<%= @user.facebook_comment_1 %>"><span class="limit"> ※7文字以内</span>
    </div>
  <div class="twitter_edit">
     <p class="sns_edit_p">facebookのID </p>
     <input class="sns_edit_naka" name="facebook2" value="<%= @user.facebook_id_2 %>">
 　  <p class="sns_edit_p">アカウントの説明</p>
   <input class="sns_edit_naka" maTlength='7' name="facebook_text2" value="<%= @user.facebook_comment_2 %>"><span class="limit"> ※7文字以内</span>
 </div>

　<label for="trigger_facebook_account" class="close_btn">×</label>
  <input class="sns_OK" type="submit" value="保存" name="facebook_id_update">
  </div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
  <input id="trigger_facebook_color_soto" type="checkbox">
  <div class="popup_content_c">

    <p class="color_edit_title">facebookの外側色</p>
    <p><label for="trigger_facebook_color_soto" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="FS<%= a%>" type="radio" name="facebook_color_soto" value="<%= a%>" <%= "checked" if @user.facebook_outsidecolor== a%>>
    <label for="FS<%= a%>" class="color_index_oya">
    <span class="color_index IS<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="facebook_color_soto_update">

  </div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

  <input id="trigger_facebook_color_uti" type="checkbox">

  <div class="popup_content_uti">
    <p class="color_edit_title">facebookの内側色</p>
    <p><label for="trigger_facebook_color_uti" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="FU<%= a%>" type="radio" name="facebook_color_uti" value="<%= a%>" <%= "checked" if @user.facebook_insidecolor== a%>><!-- ピンク　-->
    <label for="FU<%= a%>" class="color_index_oya">
    <span class="color_index IU<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="facebook_color_uti_update">
  </div>

<!-- 内側カラー -->

<!-- facebookポップアップ　選択画面 -->
<div class="popup_content_sentaku">
  <p><label for="trigger_facebook" class="close_btn">×</label></p>
  <p><label for="trigger_facebook_account" class="open_btn_s">facebookアカウントを設定する</label></p>
  <p><label for="trigger_facebook_color_soto" class="open_btn_s">facebookアイコン外側カラー変更</label></p>
  <p><label for="trigger_facebook_color_uti" class="open_btn_s">facebookアイコン内側カラー変更</label></p>
</div>
<!-- 選択画面 -->
        </div>
    </div>
</div>
<!-- ポップアップ facebook-->

<!-- ポップアップ youtube-->
<div class="popup_wrap">
<input id="trigger_youtube" type="checkbox">
    <div class="popup_overlay">
        <label for="trigger_facebook" class="popup_trigger"></label>
        <div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
  <input id="trigger_youtube_account" type="checkbox">

  <div class="popup_content_n">
    <p class="sns_title">youtube設定<span class="Q"> ※3つまで</p>

    <div class="twitter_edit">
      <p class="sns_edit_p">YoutubeのID</p>
      <input  class="sns_edit_naka" name="youtube" value="<%= @user.youtube_id_1 %>">
  　  <p class="sns_edit_p">アカウントの説明</p>
      <input class="sns_edit_naka" maTlength='7' name="youtube_text1" value="<%= @user.youtube_comment_1 %>"><span class="limit"> ※7文字以内</span>
    </div>
  <div class="twitter_edit">
     <p class="sns_edit_p">YoutubeのID </p>
     <input class="sns_edit_naka" name="youtube2" value="<%= @user.youtube_id_2 %>">
 　  <p class="sns_edit_p">アカウントの説明</p>
   <input class="sns_edit_naka" maTlength='7' name="youtube_text2" value="<%= @user.youtube_comment_2 %>"><span class="limit"> ※7文字以内</span>
 </div>

　<label for="trigger_youtube_account" class="close_btn">×</label>
  <input class="sns_OK" type="submit" value="保存" name="youtube_id_update">
  </div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
  <input id="trigger_youtube_color_soto" type="checkbox">
  <div class="popup_content_c">

    <p class="color_edit_title">Youtubeの外側色</p>
    <p><label for="trigger_youtube_color_soto" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="YS<%= a%>" type="radio" name="youtube_color_soto" value="<%= a%>" <%= "checked" if @user.youtube_outsidecolor== a%>>
    <label for="YS<%= a%>" class="color_index_oya">
    <span class="color_index IS<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="youtube_color_soto_update">

  </div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

  <input id="trigger_youtube_color_uti" type="checkbox">

  <div class="popup_content_uti">
    <p class="color_edit_title">Youtubeの内側色</p>
    <p><label for="trigger_youtube_color_uti" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="YU<%= a%>" type="radio" name="youtube_color_uti" value="<%= a%>" <%= "checked" if @user.youtube_insidecolor== a%>><!-- ピンク　-->
    <label for="YU<%= a%>" class="color_index_oya">
    <span class="color_index IU<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="youtube_color_uti_update">
  </div>

<!-- 内側カラー -->

<!-- youtubeポップアップ　選択画面 -->
<div class="popup_content_sentaku">
  <p><label for="trigger_youtube" class="close_btn">×</label></p>
  <p><label for="trigger_youtube_account" class="open_btn_s">Youtubeアカウントを設定する</label></p>
  <p><label for="trigger_youtube_color_soto" class="open_btn_s">Youtubeアイコン外側カラー変更</label></p>
  <p><label for="trigger_youtube_color_uti" class="open_btn_s">Youtubeアイコン内側カラー変更</label></p>
</div>
<!-- youtubeポップアップ　選択画面 -->
        </div>
    </div>
</div>
<!-- ポップアップ youtube-->

<!-- ポップアップ tiktok-->
<div class="popup_wrap">
<input id="trigger_tiktok" type="checkbox">
    <div class="popup_overlay">
        <label for="trigger_tiktok" class="popup_trigger"></label>
        <div class="popup_content_oya">

<!-- アカウント情報-->
<div class="popup_wrap">
  <input id="trigger_tiktok_account" type="checkbox">

  <div class="popup_content_n">
    <p class="sns_title">tiktok設定<span class="Q"> ※3つまで</p>

    <div class="twitter_edit">
      <p class="sns_edit_p">TiktokのID</p>
      <input  class="sns_edit_naka" name="tiktok" value="<%= @user.tiktok_id_1 %>">
  　  <p class="sns_edit_p">アカウントの説明</p>
      <input class="sns_edit_naka" maTlength='7' name="tiktok_text1" value="<%= @user.tiktok_comment_1 %>"><span class="limit"> ※7文字以内</span>
    </div>
  <div class="twitter_edit">
     <p class="sns_edit_p">TiktokのID </p>
     <input class="sns_edit_naka" name="tiktok2" value="<%= @user.tiktok_id_2 %>">
 　  <p class="sns_edit_p">アカウントの説明</p>
   <input class="sns_edit_naka" maTlength='7' name="tiktok_text2" value="<%= @user.tiktok_comment_2 %>"><span class="limit"> ※7文字以内</span>
 </div>

　<label for="trigger_tiktok_account" class="close_btn">×</label>
  <input class="sns_OK" type="submit" value="保存" name="tiktok_id_update">
  </div>
</div>
<!-- アカウント情報-->

<!-- 外側カラー-->
<div class="popup_wrap">
  <input id="trigger_tiktok_color_soto" type="checkbox">
  <div class="popup_content_c">

    <p class="color_edit_title">Tiktokの外側色</p>
    <p><label for="trigger_tiktok_color_soto" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="TS<%= a%>" type="radio" name="tiktok_color_soto" value="<%= a%>" <%= "checked" if @user.tiktok_outsidecolor== a%>>
    <label for="TS<%= a%>" class="color_index_oya">
    <span class="color_index IS<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="tiktok_color_soto_update">

  </div>
</div>
<!-- 外側カラー -->

<!-- 内側カラー-->

  <input id="trigger_tiktok_color_uti" type="checkbox">

  <div class="popup_content_uti">
    <p class="color_edit_title">Tiktokの内側の色</p>
    <p><label for="trigger_tiktok_color_uti" class="close_btn">×</label></p>
    <% aw.each do |a| %>
    <input id="TU<%= a%>" type="radio" name="tiktok_color_uti" value="<%= a%>" <%= "checked" if @user.tiktok_insidecolor== a%>><!-- ピンク　-->
    <label for="TU<%= a%>" class="color_index_oya">
    <span class="color_index IU<%= a%>"></span>
    </label>
    <%end%>
    <input class="sns_OK" type="submit" value="保存" name="tiktok_color_uti_update">
  </div>

<!-- 内側カラー -->

<!-- tiktokポップアップ　選択画面 -->
<div class="popup_content_sentaku">
  <p><label for="trigger_tiktok" class="close_btn">×</label></p>
  <p><label for="trigger_tiktok_account" class="open_btn_s">Tiktokアカウントを設定する</label></p>
  <p><label for="trigger_tiktok_color_soto" class="open_btn_s">Tiktokアイコン外側カラー変更</label></p>
  <p><label for="trigger_tiktok_color_uti" class="open_btn_s">Tiktokアイコン内側カラー変更</label></p>
</div>
<!-- tiktokポップアップ　選択画面 -->
        </div>
    </div>
</div>
<!-- ポップアップ tiktok-->

<!-- SNS設定アイコン-->
  <div class="sns_oya_oya">

<label for="trigger2">
    <div class="sns_soto twitter_soto">
       <span class="fab fa-twitter sns_uti twitter_uti"></span>
    </div>
</label>

<label for="trigger_instagram">
    <div class="sns_soto instagram_soto">
       <span class="fab fa-instagram sns_uti instagram_uti"></span>
    </div>
</label>

<label for="trigger_facebook">
    <div class="sns_soto facebook_soto">
       <span class="fab fa-facebook sns_uti facebook_uti"></span>
    </div>
</label>

<label for="trigger_youtube">
    <div class="sns_soto youtube_soto">
       <span class="fab fa-youtube sns_uti youtube_uti"></span>
    </div>
</label>

<label for="trigger_tiktok">
    <div class="sns_soto tiktok_soto">
       <span class="fab fa-tiktok sns_uti tiktok_uti"></span>
    </div>
</label>

 </div>
<!-- SNS設定アイコン->

<!-- 名前編集フォーム-->
<div class="edit_oya">
 <div class="name_edit_oya">
  <p><input class="name_edit" name="name" value="<%= @user.name %>"></p>
  <p class="aqaq">名前</p>
  </div>
  <!-- 名前編集フォーム-->

<!-- 名前編集フォーム-->
  <div class="self_introduction_oya">
    <p><textarea class="pfl_user_text" name="pfl_text"><%= @user.pfl_text%></textarea></p>
    <p class="alal">自己紹介</p>
  </div>
</div>
<!-- 名前編集フォーム-->

  </body>
  <%end%>

  <style media="screen">
    /*リンク設定全体*/
  .link_edit_oya{
  list-style: none;
  text-align: left;
  margin-top:0px;
  margin-bottom:85px;
  margin-left:100px;
  font-size:15px;
  height:15px;
  color:gray;
  }
    /*リンク　フォームの上のタイトル*/
  .link_edit{
  margin-top:-5px;
  padding-top:0px;
  padding-bottom:7px;
  height:0px;
  font-size:12px;
   }
       /*リンク　フォーム*/
   .link_edit_from{
     border:0.5px solid gray;
     border-radius: 3px;
     color:#2E9AFE;
     margin-bottom:5px;
     height:25px;
     width:200px;
    }
        /*背景色変更 リンク設定　全体親*/
    .edit_content{
text-align:center;
margin-bottom:160px;
width:100vw;
     }
      /*背景色変更 リンク設定　各親*/
    .background_color_edit{
      display: inline-block;
      z-index: 1004;
      position: relative;
      width:180px;
     }
/*背景色変更　リンク設定　フォント*/
.background_color_edit p{
  padding-top:3px;
text-align:center;
border-radius: 10px;
font-size:20px;
color:#04B4AE;
cursor: pointer;
border:3px solid #04B4AE;
background-color: white;
width:170px;
height:40px;
position: absolute;
top: 100px;
left: 50%;
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
      }

  /*名前　自己紹介　親要素*/
   .edit_oya{
position: relative;
    }
    /*名前変更　親要素*/
    .name_edit_oya{
    position: relative;
    position: absolute;
    top: 35px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    }
    /*名前変更　フォーム*/
    .name_edit{
      resize: none;
      font-size:18px;
      padding-top:37px;
      padding-left:5px;
      padding-right:5px;
      width:600px;
      height:60px;
    }
    /*名前 タイトル*/
    .aqaq{
      color: gray;
      padding-left:10px;
      width:582px;
      height:15px;
      background-color: white;
      position: absolute;
      top: 5px;
      left: 2px;
     }

    /*自己紹介　親要素*/
    .self_introduction_oya{
      height:70px;
      position: relative;
      position: absolute;
      top: 115px;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    /*自己紹介　フォーム*/
    .self_introduction_oya textarea {
      resize: none;
      font-size:18px;
      padding-top:35px;
      padding-left:5px;
      padding-right:5px;
      width:600px;
      height:800px;
    }
    /*自己紹介 タイトル*/
     .alal{
       color: gray;
       padding-left:10px;
       padding-top:4px;
       width:581px;
       height:30px;
       background-color: white;
       position: absolute;
       top: 0.9px;
       left: 2px;
      }

/*アカウント設定　タイトル*/
.sns_title{
color:black;
font-size:25px;
}
/*アカウント設定　「～迄」の文章*/
.Q{
font-size:20px;
 }
  /*アカウント設定全体*/
.twitter_edit{
list-style: none;
text-align: left;
margin-top:0px;
margin-bottom:110px;
margin-left:100px;
font-size:15px;
height:15px;
color:gray;
}
  /*アカウント設定　ID・説明*/
.sns_edit_p{
margin-top:0px;
padding-top:0px;
padding-bottom:10px;
height:0px;
font-size:12px;
 }
   /*アカウント設定　フォーム*/
.sns_edit_naka{
border:0.5px solid gray;
border-radius: 3px;
color:#2E9AFE;
margin-bottom:5px;
height:25px;
width:200px;
 }
   /*アカウント設定　「※７文字以内」*/
.limit{
font-size:12px;
color:red;
 }

        /*SNSアイコンの上のスペース*/
        .space{
         height:40px;
         }
        /*Twitterアイコン 外側色*/
      .twitter_uti{
      background-color: #<%= @user.twitter_outsidecolor%>;
      }
          /*Twitterアイコン 内側色*/
      .twitter_soto span{
      color: #<%= @user.twitter_insidecolor%>;
      }
  /*instagramアイコン 外側色*/
      .instagram_uti{
        background-color: #<%= @user.instagram_outsidecolor%>;
       }
       /*instagramアイコン 内側色*/
   .instagram_soto span{
   color: #<%= @user.instagram_insidecolor%>;
   }
   /*facebookアイコン 外側色*/
       .facebook_uti{
         background-color: #<%= @user.facebook_outsidecolor%>;
        }
        /*facebookアイコン 内側色*/
    .facebook_soto span{
    color: #<%= @user.facebook_insidecolor%>;
    }
    /*youtubeアイコン 外側色*/
        .youtube_uti{
          background-color: #<%= @user.youtube_outsidecolor%>;
         }
         /*youtubeアイコン 内側色*/
     .youtube_soto span{
     color: #<%= @user.youtube_insidecolor%>;
     }
     /*tiktokアイコン 外側色*/
         .tiktok_uti{
           background-color: #<%= @user.tiktok_outsidecolor%>;
          }
          /*tiktokアイコン 内側色*/
      .tiktok_soto span{
      color: #<%= @user.tiktok_insidecolor%>;
      }

    /*チェックボックス　デザインオフ*/
  .popup_wrap input[type="checkbox"]{
  display:none;
    }
    /*ラジオボタンデザインオフ*/
    .popup_content input[type="radio"] {
    display:none;
    }
    /*ラジオボタンデザインオフ*/
    .popup_content_c input[type="radio"] {
    display:none;
    }
    /*ラジオボタンデザインオフ*/
    .popup_content_uti input[type="radio"] {
    display:none;
    }

    /*ラジオボタン選択時にオレンジ*/
  .popup_content input[type="radio"]:checked+label span{
  border:5px solid orange;
  }
  /*ラジオボタン選択時にオレンジ*/
.popup_content_c input[type="radio"]:checked+label span{
border:5px solid orange;
}
/*ラジオボタン選択時にオレンジ*/
.popup_content_uti input[type="radio"]:checked+label span{
border:5px solid orange;
}

    /*✕ボタン*/
 .close_btn {
   heigth:15px;
   width:15px;
   color:#2E9AFE;
   position: absolute;
   top:20px;
   left: 15px;
   font-size: 40px;
   cursor: pointer;
 }

 /*保存ボタン*/
 .sns_OK{
   display: inline-block;
   width:70px;
   height: 38px;
   color:white;
   font-weight: bold;
   background-color:#2E9AFE;
   font-size:18px;
   cursor: pointer;
   position: absolute;
   top: 14px;
   right: 14px;
   border-radius: 100px;
 }

 /*各色編集ポップアップタイトル*/
 .color_edit_title{
   heigth:15px;
   width:300px;
   color:#424242;
   position: absolute;
   top:5px;
   left: 120px;
   font-size: 20px;
   cursor: pointer;
 }

    /*全体の薄い黒*/
  .popup_overlay {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1006;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
    text-align:center;
  }

    /**/
  .popup_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
  }

 /*ポップアップを開くボタン*/
  .open_btn_s{
  display: inline-block;
  background-color: #A9D0F5;
  color:white;
  border-radius: 100px;
  cursor: pointer;
  font-size:17px;
  width: 340px;
  height:50px;
  text-align:center;
  font-weight: bold;
  padding-top: 15px;
   }

/*最初の選択ポップアップ　*/
   .popup_content_sentaku{
     padding-top:30px;
     text-align:center;
     position: relative;
     align-self: center;
     width: 450px;
     height:280px;
     box-sizing: border-box;
     background: white;
     line-height: 1.4em;
     transition: 0.5s;
     border-radius: 10px;
     z-index: 1000;
     position: absolute;
     top: 50%;
     left: 50%;
     -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
    }
/*snsアカウント情報　ポップアップ*/
.popup_content_n {
  opacity: 0;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
  position: relative;
  height:460px;
  width:500px;
  box-sizing: border-box;
  background: white;
  transition: 0.5s;
  line-height: 1.4em;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
margin: auto;
}
 /*リンク編集　ポップアップ*/
.popup_content_link{
  margin-top: 0px;
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
  position: relative;
  height:560px;
  width:500px;
  box-sizing: border-box;
  background: white;
  transition: 0.5s;
  line-height: 1.4em;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
margin: auto;
 }
     /*SNSアイコン外側色　ポップアップ*/
  .popup_content_c {
    opacity: 0;
    display: inline-block;
    margin-top: 0px;
    padding-top:50px;
    padding-bottom: 30px;
    padding-left: 18px;
    padding-right: 15px;
    text-align:center;
    position: relative;
    align-self: center;
    height:325px;
    width: 580px;
    box-sizing: border-box;
    background: white;
    transition: 0.5s;
    line-height: 1.4em;
    transition: 0.5s;
    border-radius: 10px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  margin: auto;
    }
  /*SNSアイコン内側色　ポップアップ*/
.popup_content_uti {
  opacity: 0;
  display: inline-block;
  margin-top: 0px;
  padding-top:50px;
  padding-bottom: 30px;
  padding-left: 18px;
  padding-right: 15px;
  text-align:center;
  position: relative;
  align-self: center;
  height:325px;
  width: 580px;
  box-sizing: border-box;
  background: white;
  transition: 0.5s;
  line-height: 1.4em;
  transition: 0.5s;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
margin: auto;
}
  /*背景色変更ポップアップ*/
.popup_content{
  display: inline-block;
  margin-top: 0px;
  padding-top:50px;
  padding-bottom: 30px;
  padding-left: 18px;
  padding-right: 15px;
  text-align:center;
  position: relative;
  align-self: center;
  height:325px;
  width: 580px;
  box-sizing: border-box;
  background: white;
  transition: 0.5s;
  line-height: 1.4em;
  transition: 0.5s;
  border-radius: 10px;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
margin: auto;
}

  @media screen and (max-width: 376px) {
    /*リンク設定全体*/
  .link_edit_oya{
  list-style: none;
  text-align: left;
  margin-top:0px;
  margin-bottom:85px;
  margin-left:20px;
  font-size:15px;
  height:15px;
  color:gray;
  }
    /*リンク　フォームの上のタイトル*/
  .link_edit{
  margin-top:-5px;
  padding-top:0px;
  padding-bottom:7px;
  height:0px;
  font-size:12px;
   }
       /*リンク　フォーム*/
   .link_edit_from{
     border:0.5px solid gray;
     border-radius: 3px;
     color:#2E9AFE;
     margin-bottom:5px;
     height:25px;
     width:200px;
    }
    /*SNSアイコンの上のスペース*/
    .space{
     height:20px;
     }
     /*背景色変更 リンク設定　全体親*/
 .edit_content{
text-align:center;
margin-top:10px;
margin-bottom:50px;
width:100vw;
  }
   /*背景色変更 リンク設定　各親*/
 .background_color_edit{
   display: inline-block;
   margin-top:25px;
   margin-bottom:15px;
   z-index: 1004;
   position: relative;
   width:180px;
  }
/*背景色変更　リンク設定　フォント*/
.background_color_edit p{
padding-top:3px;
text-align:center;
border-radius: 10px;
font-size:15px;
color:#04B4AE;
cursor: pointer;
border:3px solid #04B4AE;
background-color: white;
width:165px;
height:35px;
position: absolute;
top: 25px;
left: 50%;
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
   }

    /*各色編集ポップアップタイトル*/
    .color_edit_title{
      heigth:15px;
      width:200px;
      color:#424242;
      position: absolute;
      top:0px;
      left: 60px;
      font-size: 17px;
      cursor: pointer;
    }


  /*名前変更　親要素*/
  .name_edit_oya{
  height:70px;
  position: relative;
  position: absolute;
  top: 45px;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  }
  /*名前変更　フォーム*/
  .name_edit{
    resize: none;
    font-size:18px;
    padding-top:30px;
    padding-bottom:7px;
    padding-left:5px;
    padding-right:5px;
    width:320px;
    height:60px;
  }
  /*名前 タイトル*/
  .aqaq{
    padding-left:10px;
    width:318px;
    height:6px;
    position: absolute;
    top:1.5px;
    left: 1px;
   }

  /*自己紹介　親要素*/
  .self_introduction_oya{
    height:70px;
    position: relative;
    position: absolute;
    top: 120px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  /*自己紹介　フォーム*/
  .self_introduction_oya textarea {
    font-size:18px;
    padding-top:35px;
    padding-left:5px;
    padding-right:5px;
    width:320px;
    height:300px;
  }
  /*自己紹介 タイトル*/
   .alal{
     padding-left:10px;
     padding-top:4px;
     width:317px;
     height:30px;
     position: absolute;
     top: 0.9px;
     left: 2px;
    }

    /*アカウント設定　タイトル*/
    .sns_title{
    font-size:18px;
    }
    /*アカウント設定　「～迄」の文章*/
    .Q{
    font-size:12px;
     }
      /*アカウント設定全体*/
    .twitter_edit{
    list-style: none;
    text-align: left;
    margin-top:35px;
    margin-bottom:110px;
    margin-left:30px;
    font-size:15px;
    height:15px;
    color:gray;
    }
      /*アカウント設定　ID・説明*/
    .sns_edit_p{
    margin-top:0px;
    padding-top:0px;
    padding-bottom:3px;
    height:0px;
    font-size:14px;
     }
     /*アカウント設定　「※７文字以内」*/
  .limit{
  font-size:14px;
  color:red;
   }
       /*アカウント設定　フォーム*/
    .sns_edit_naka{
    border:0.5px solid gray;
    border-radius: 3px;
    color:#2E9AFE;
    margin-bottom:5px;
    height:25px;
    width:200px;
     }

    .close_btn {
      heigth:15px;
      width:15px;
      color:#2E9AFE;
      position: absolute;
      top: 9px;
      left: 12px;
      font-size: 40px;
      cursor: pointer;
    }
    /*保存ボタン*/
    .sns_OK{
      width:60px;
      height: 30px;
      color:white;
      font-size:13px;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    /*最初の選択ポップアップを開くボタン*/
     .open_btn_s{
     display: inline-block;
     background-color: #A9D0F5;
     color:white;
     border-radius: 100px;
     cursor: pointer;
     font-size:15px;
     width: 300px;
     height:40px;
     text-align:center;
     font-weight: bold;
     padding-top: 9px
      }

   /*最初の選択ポップアップ　*/
      .popup_content_sentaku{
        padding-top:28px;
        width: 320px;
        height:230px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
       }

   /*アカウント情報　ポップアップ*/
   .popup_content_n {
     opacity: 0;
     margin-top: 0px;
     padding-top: 0px;
     padding-bottom: 30px;
     padding-left: 0px;
     padding-right: 5px;
     position: relative;
     height:450px;
     width:340px;
     font-size:10px;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
   margin: auto;
   }
   /*リンク編集　ポップアップ*/
  .popup_content_link{
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
    position: relative;
    height:560px;
    width:340px;
    box-sizing: border-box;
    background: white;
    transition: 0.5s;
    line-height: 1.4em;
    border-radius: 10px;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  margin: auto;
   }

        /*SNSアイコン外側色　ポップアップ*/
     .popup_content_c {
       margin-top: 0px;
       padding-top: 35px;
       padding-bottom: 0px;
       padding-left: 3px;
       padding-right: 3px;
       position: relative;
       height:240px;
       width: 350px;
       z-index: 1000;
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
     margin: auto;
       }
     /*SNSアイコン内側色　ポップアップ*/
   .popup_content_uti {
     margin-top: 0px;
     padding-top: 35px;
     padding-bottom: 0px;
     padding-left: 3px;
     padding-right: 3px;
     position: relative;
     height:240px;
     width: 350px;
     z-index: 1000;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
   margin: auto;
   }
     /*背景色変更ポップアップ*/
   .popup_content{
     margin-top: 0px;
     padding-top: 35px;
     padding-bottom: 0px;
     padding-left: 3px;
     padding-right: 3px;
     position: relative;
     height:240px;
     width: 350px;
     z-index: 1000;
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
   margin: auto;
   }
  }

.popup_content_oya{
position: relative;
width: 100%;
height: 100%;
 }

     /*クリックで全体の薄い黒を表示*/
   .popup_wrap input:checked ~ .popup_overlay {
     opacity: 1;
     transform: scale(1);
     transition: opacity 0.5s;
   }

 /*SNSアイコン外側色　ポップアップをクリックして表示*/
    .popup_wrap input:checked ~.popup_content_c {
      opacity: 1;
      transform: scale(1);
      transition: opacity 0.5s;
      z-index: 1001;
    }
    /*sns情報編集　ポップアップをクリックして表示*/
       .popup_wrap input:checked ~.popup_content_n {
         opacity: 1;
         transform: scale(1);
         transition: opacity 0.5s;
         z-index: 1001;
       }

       /*SNSアイコン内側色　クリックでポップアップを表示*/
  .popup_wrap input:checked ~.popup_content_uti {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
    z-index: 1001;
  }
  /*リンク編集ポップアップ　クリックでポップアップを表示*/
  .popup_wrap input:checked ~.popup_content_link{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
    z-index: 1001000;
   }
    /*色一覧*/
  <% ba=["000000","B40404","8A4B08","868A08","5FB404","04B45F","04B4AE","045FB4","0404B4","8904B1","B4045F","585858","FF0000","FF8000","FFFF00","BFFF00","00FF80","00FFFF","00BFFF","0040FF","BF00FF","FF00BF","BDBDBD","FA5858","FAAC58","F3F781","D8F781","81F7BE","81F7F3","81DAF5","819FF7","DA81F5","F781D8","F2F2F2","F6CECE","F6E3CE","F5F6CE","E3F6CE","CEF6D8","CEF6F5","CEECF5","CED8F6","ECCEF5","F6CEEC","FFFFFF","FBEFEF","FBF5EF","FBFBEF","F5FBEF","EFFBF8","EFFBFB","EFF8FB","EFEFFB","F8EFFB","FBEFF8"]%>
  <% ba.each do |aaa| %>
  .C<%= aaa%>{
  background-color: #<%= aaa%>;
   margin-right: 20px;
   }
   <%end%>

   <% ba.each do |aaa| %>
   .B<%= aaa%>{
   background-color: #<%= aaa%>;
    margin-right: 20px;
    }
    <%end%>

   <% ba.each do |aaa| %>
   .A<%= aaa%>{
   background-color: #<%= aaa%>;
    margin-right: 20px;
    }
    <%end%>

    <% ba.each do |aaa| %>
    .IS<%= aaa%>{
    background-color: #<%= aaa%>;
     margin-right: 20px;
     }
     <%end%>

     <% ba.each do |aaa| %>
     .IU<%= aaa%>{
     background-color: #<%= aaa%>;
      margin-right: 20px;
      }
      <%end%>

      <% ba.each do |aaa| %>
      .FS<%= aaa%>{
      background-color: #<%= aaa%>;
       margin-right: 20px;
       }
       <%end%>

       <% ba.each do |aaa| %>
       .FU<%= aaa%>{
       background-color: #<%= aaa%>;
        margin-right: 20px;
        }
        <%end%>

        <% ba.each do |aaa| %>
        .YS<%= aaa%>{
        background-color: #<%= aaa%>;
         margin-right: 20px;
         }
         <%end%>

         <% ba.each do |aaa| %>
         .YU<%= aaa%>{
         background-color: #<%= aaa%>;
          margin-right: 20px;
          }
          <%end%>

          <% ba.each do |aaa| %>
          .TS<%= aaa%>{
          background-color: #<%= aaa%>;
           margin-right: 20px;
           }
           <%end%>

           <% ba.each do |aaa| %>
           .TU<%= aaa%>{
           background-color: #<%= aaa%>;
            margin-right: 20px;
            }
            <%end%>

   .color_index_oya {
   cursor: pointer;
   height: 40px;
   width: 40px;　
   }

   .color_index{
   height: 40px;
   width: 40px;　
   }

  @media screen and (max-width: 376px) {
    .color_index_oya {
    cursor: pointer;
    height: 24px;
    width: 24px;　
    }

    .color_index{
    height: 24px;
    width: 24px;　
    }
  }

    /*背景色変更ポップアップを開くボタン*/
  .open_btna {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 30px;
  }

  /*色の要素*/
  label{
    display: inline-block;
  }
  label span{
    display:block;
    background-color:white;
    line-height:40px;
    text-align:center;
    z-index: 10;
  }

/*全体*/
    body{
      background-color:  #<%= @user.background_color%>;
      padding-top: 52px;
      height:2000px;
    }

      @media screen and (max-width: 375px) {
        body{
          padding-top: 32px;
          width: 100vw ;
        }
      }

  </style>
</html>