<body>

  <%= search_form_for @q do |f| %>
  <div class="input_group_p">
    <div class="input-group">
      <%= f.search_field :name_cont, class: "form-control"%>
      <%= f.submit "検索", class: "btn btn-primary"%>
    </div>
  </div>
  <% end %>

  <div class="index_icon_pp">
    <% @users.each do |user| %>
      <div class="index_icon_p" ontouchstart="">
        <a href="/users/<%= user.id %>"><img src="<%= "/user_images/#{user.icon_image}" %>"></a>
        <p ><a class="index_user_name" href="/user/<%= user.id %>/pfl"><%= user.name %></a></p>
      </div>
    <% end %>
  </div>

  <div class="paginate">
    <%= paginate @users %>
  </div>
  
</body>
