<%= form_with model: @user, local: true do |f| %>

<div class="new_pp">
 <div class="new_p">

  <p class="title">✦kakiku-keko</p>
  <div class = "error_message"><%= render 'layouts/error_messages', model: f.object %><div>
  <p><input class="form" placeholder="ニックネーム" name="name" value="<%= @user.name %>"></p>
  <p><input class="form" placeholder="メールアドレス" name="email" value="<%= @user.email %>"></p>
  <p><input class="form" placeholder="パスワード ※7文字以上" name="password" type="password" value="<%= @user.password %>"></p>
  <p><input class="submit" type="submit" value="新規登録"></p>

 </div>
</div>

 <%end%>

