<div class="introduce">
<!-- ヘッダー画像-->
  <div class="header_image_p">
    <% if @user.header_image? %>
      <p><%= image_tag @user.header_image.url,class:"header_image"%></p>
    <% else %>
      <p class="default_header_image"></p>
    <% end %>
    <!-- アイコン-->
      <label for="trigger" class="open_btn">
        <% if @user.icon_image? %>
          <%= image_tag @user.icon_image.url,class:"icon_image"%>
        <% else %>
          <div class="default_icon_image_p">
            <i class="fas fa-user default_icon"></i>
          </div>
        <% end %>
      </label>
    <!-- アイコン-->
  </div>

  <!-- アイコン拡大-->
  <div class="popup_wrap">
    <input id="trigger" type="checkbox">
      <div class="popup_overlay">
        <label for="trigger" class="close_btn">×</label>

            <% if current_user%>
            <% if current_user.id==@user.id%>
              <a href="/users/<%= current_user.id%>/edit" class="image_edit">変更</a>
            <%end%>
            <%end%>

        <label for="trigger" class="popup_trigger"></label>
      <div class="popup_content_icon_image">
        <%= image_tag @user.icon_image.url,class:"icon_image_enlarge"%>
      </div>
    </div>
  </div>

<!-- 一覧ページへのリンクアイコン-->
  <a href="/users">
    <div class="pen_p back_index">
      <i class="fas fa-chevron-left"></i>
    </div>
  </a>

    <!-- 編集へのリンクアイコン-->
  <% if current_user%>
    <% if current_user.id == @user.id%>
    <a href="/users/<%= current_user.id %>/edit">
      <div class="pen_p">
        <i class="fa fa-edit pen"></i>
      </div>
    </a>
    <%end%>
  <%end%>

  <!-- ユーザーネーム-->
  <p class="pfl_user_name font_style"><%=@user.name%></p>

  <!-- SNSアイコン一覧表示-->
  <div class="sns_pp">
    <%= render 'twitters/index' %>
    <%= render 'instagrams/index' %>
    <%= render 'facebooks/index' %>
    <%= render 'youtubes/index' %>
    <%= render 'tiktoks/index' %>
  </div>

  <!-- プロフィール文章-->
  <div class="pfl_user_text_p">
    <p class="pfl_user_text font_style"><%=@user.pfl_text%></p>
  </div>

  <!-- リンク一覧表示-->
  <%= render 'links/index' %>

</div>

<style>
   .introduce {
    height: auto;
    padding-bottom:100px;
    font-family: <%= @user.font_family%>;
    color: #<%= @user.font_color%>;
  }

  body {
    background-color: #<%=@user.background_color%>;
  }
</style>