<div class="introduce">
<!-- ヘッダー画像-->
  <div class="header_image_p">
    <% if @user.header_image? %>
      <p><%= image_tag @user.header_image.url,class:"header_image"%></p>
    <% else %>
      <p class="default_header_image"></p>
    <% end %>
    <!-- アイコン-->
      <label for="trigger" class="open_btn">
        <div class="icon_image_p">
          <%= image_tag @user.icon_image.url,class:"icon_image"%>
        </div>
      </label>
    <!-- アイコン-->
  </div>

  <!-- アイコン拡大-->
  <div class="popup_wrap">
    <input id="trigger" type="checkbox">
      <div class="popup_overlay">
        <label for="trigger" class="close_btn">×</label>

            <% if current_user%>
            <% if current_user.id==@user.id%>
              <a href="/users/<%= current_user.id%>/edit" class="image_edit">変更</a>
            <%end%>
            <%end%>

        <label for="trigger" class="popup_trigger"></label>
      <div class="popup_content_icon_image">
        <%= image_tag @user.icon_image.url,class:"icon_image_enlarge"%>
      </div>
    </div>
  </div>

<!-- 一覧ページへのリンクアイコン-->
  <a href="/users">
    <div class="pen_p back_index">
      <i class="fas fa-chevron-left"></i>
    </div>
  </a>

    <!-- 編集へのリンクアイコン-->
  <% if current_user%>
    <% if current_user.id == @user.id%>
    <a href="/users/<%= current_user.id %>/edit">
      <div class="pen_p">
        <i class="fa fa-edit pen"></i>
      </div>
    </a>
    <%end%>
  <%end%>

  <!-- ユーザーネーム-->
  <p class="pfl_user_name font_style"><%=@user.name%></p>

  <!-- SNSアイコン一覧表示-->
  <div class="sns_pp">
    <% if @user.twitter_id_1?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.twitter_comment_1 %></p>
      <div class="sns_outside twitter_outsidecolor">
        <a href="https://mobile.twitter.com/<%= @user.twitter_id_1 %>"> <span class="fab fa-twitter sns_inside twitter_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.twitter_id_2?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.twitter_comment_2 %></p>
      <div class="sns_outside twitter_outsidecolor">
        <a href="https://mobile.twitter.com/<%= @user.twitter_id_2 %>"> <span class="fab fa-twitter sns_inside twitter_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.twitter_id_3?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.twitter_comment_3 %></p>
      <div class="sns_outside twitter_outsidecolor">
        <a href="https://mobile.twitter.com/<%= @user.twitter_id_3 %>"> <span class="fab fa-twitter sns_inside twitter_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.instagram_id_1?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.instagram_comment_1 %></p>
      <div class="sns_outside instagram_outsidecolor">
        <a href="https://www.instagram.com/<%= @user.instagram_id_1 %>"> <span class="fab fa-instagram sns_inside instagram_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.instagram_id_2?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.instagram_comment_2 %></p>
      <div class="sns_outside instagram_outsidecolor">
        <a href="https://www.instagram.com/<%= @user.instagram_id_2 %>"> <span class="fab fa-instagram sns_inside instagram_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.instagram_id_3?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.instagram_comment_3 %></p>
      <div class="sns_outside instagram_outsidecolor">
        <a href="https://www.instagram.com/<%= @user.instagram_id_3 %>"> <span class="fab fa-instagram sns_inside instagram_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.facebook_id_1?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.facebook_comment_1 %></p>
      <div class="sns_outside facebook_outsidecolor">
        <a href="<%= @user.facebook_id_1 %>"> <span class="fab fa-facebook sns_inside facebook_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.facebook_id_2?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.facebook_comment_3 %></p>
      <div class="sns_outside facebook_outsidecolor">
        <a href="<%= @user.facebook_id_3 %>"> <span class="fab fa-facebook sns_inside facebook_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.facebook_id_3?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.facebook_comment_3 %></p>
      <div class="sns_outside facebook_outsidecolor">
        <a href="<%= @user.facebook_id_3 %>"> <span class="fab fa-facebook sns_inside facebook_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.youtube_id_1?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.youtube_comment_1 %></p>
      <div class="sns_outside youtube_outsidecolor">
        <a href="<%= @user.youtube_id_1 %>"> <span class="fab fa-youtube sns_inside youtube_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.youtube_id_2?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.youtube_comment_2 %></p>
      <div class="sns_outside youtube_outsidecolor">
        <a href="<%= @user.youtube_id_2 %>"> <span class="fab fa-youtube sns_inside youtube_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.youtube_id_3?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.youtube_comment_3 %></p>
      <div class="sns_outside youtube_outsidecolor">
        <a href="<%= @user.youtube_id_3 %>"> <span class="fab fa-youtube sns_inside youtube_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.tiktok_id_1?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.tiktok_comment_1 %></p>
      <div class="sns_outside tiktok_outsidecolor">
        <a href="<%= @user.tiktok_id_1 %>"> <span class="fab fa-tiktok sns_inside tiktok_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.tiktok_id_2?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.tiktok_comment_2 %></p>
      <div class="sns_outside tiktok_outsidecolor">
        <a href="<%= @user.tiktok_id_2 %>"> <span class="fab fa-tiktok sns_inside tiktok_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
    <% if @user.tiktok_id_3?%>
    <div class="sns_p">
      <p class="sns_text"><%= @user.tiktok_comment_3 %></p>
      <div class="sns_outside tiktok_outsidecolor">
        <a href="<%= @user.tiktok_id_3 %>"> <span class="fab fa-tiktok sns_inside tiktok_insidecolor"></span></a>
      </div>
    </div>
    <%end%>
  </div>

  <!-- プロフィール文章-->
  <div class="pfl_user_text_p">
    <p class="pfl_user_text font_style"><%=@user.pfl_text%></p>
  </div>

  <!-- リンク一覧表示-->
    <% @links.each do |link| %>
      <div class="link_pp">
        <a href="<%= link.url%>"  id="a-no-both" style="color:inherit;text-decoration:none;">
          <div class="link_title">
           <p><%= link.title %></p>
          </div>
        </a>
        <div class="link_coment">
          <p><%= link.coment%></p>
        </div>
      </div>
    <% end %>

</div>

<style>

   .introduce {
    height: auto;
    padding-bottom:100px;
    font-family: <%= @user.font_family%>;
    color: #<%= @user.font_color%>;
  }

  body {
    background-color: #<%=@user.background_color%>;
  }

   /*リンクカラー*/
  .link_title{
    background-color: #<%= @user.link_background_color%>;
    color: #<%= @user.link_font_color%>;
  }

  /*Twitterアイコン 外側色*/
  .twitter_outsidecolor{
  background-color: #<%= @user.twitter_outsidecolor%>;
  }

  /*Twitterアイコン 内側色*/
  .twitter_insidecolor{
  color: #<%= @user.twitter_insidecolor%>;
  }

  /*instagramアイコン 外側色*/
  .instagram_outsidecolor{
  background-color: #<%= @user.instagram_outsidecolor%>;
  }

  /*instagramアイコン 内側色*/
  .instagram_insidecolor{
  color: #<%= @user.instagram_insidecolor%>;
  }

  /*facebookアイコン 外側色*/
  .facebook_outsidecolor{
  background-color: #<%= @user.facebook_outsidecolor%>;
  }

  /*facebookアイコン 内側色*/
  .facebook_insidecolor{
  color: #<%= @user.facebook_insidecolor%>;
  }

  /*youtubeアイコン 外側色*/
  .youtube_outsidecolor{
  background-color: #<%= @user.youtube_outsidecolor%>;
  }

  /*youtubeアイコン 内側色*/
  .youtube_insidecolor{
  color: #<%= @user.youtube_insidecolor%>;
  }

  /*tiktokアイコン 外側色*/
  .tiktok_outsidecolor{
  background-color: #<%= @user.tiktok_outsidecolor%>;
  }

  /*tiktokアイコン 内側色*/
  .tiktok_insidecolor{
  color: #<%= @user.tiktok_insidecolor%>;
  }

</style>