<% @youtubes.each do |youtube| %>  

  <% if youtube.account!="" %>
    <label for="trigger_<%= youtube%>">
    <div class="sns_p">
      <p class="sns_text"><%= youtube.comment %></p>
      <div class="sns_outside youtube_outsidecolor<%= youtube.outsidecolor%>">
        <a href="<%= youtube.account %>"><span class="fab fa-youtube sns_inside youtube_insidecolor<%= youtube.insidecolor%>"></span></a>
      </div>
    </div>
    </label>
  <%end%>

<style>

    /*youtubeアイコン 外側色*/
  .youtube_outsidecolor<%= youtube.outsidecolor%>{
  background-color: #<%= youtube.outsidecolor%>;
  }

  /*youtubeアイコン 内側色*/
  .youtube_insidecolor<%= youtube.insidecolor%>{
  color: #<%= youtube.insidecolor%>;
  }

  <% @color_index.each do |color| %>
    .C<%= youtube.account%><%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

  <% @color_index.each do |color| %>
    .B<%= youtube.account%><%= color%>{
    background-color: #<%= color%>;
    }
  <%end%>

</style>

 <% end %>