<div class="top_coment_p">
    <p class="top_coment">プロフィールを作成して<br>リンクをまとめよう。</p>
    <p><%= link_to "新規登録", new_user_registration_path, class: "top_start_btn new" %></p>
    <p><%= link_to "ログイン", new_user_session_path, class: "top_start_btn login" %></p>
    <p><%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %></p>
    <!-- Twitterログイン-->
    <div style="text-align:center;margin-bottom:30px;">
      <%= link_to user_twitter_omniauth_authorize_path do %>
        <div class="twitter_sigin_btn_p">
        <span class="fab fa-twitter" style="color:white;">   Twitter ログイン</span>
        </div>
      <% end %>
    </div>
</div>

  <div class="index_icon_pp">
   <% @users.each do |user| %>
    <% if user.open_status == 1 %>
      <div class="index_icon_p">
        <% if user.icon_image? %>
          <p><a href="/users/<%= user.id %>"><img src="<%= user.icon_image %>"></a></p>
        <% else %>
          <p><a href="/users/<%= user.id %>"><i class="fas fa-user index_default_icon"></i></a></p>
        <% end %>
        <p class="index_user_name_p"><a class="index_user_name" href="/users/<%= user.id %>"><%= user.name %></a></p>
      </div>
    <% end %>
   <% end %>
  </div>

  <div class="paginate">
    <%= paginate @users %>
  </div>