<div class="top_coment_p">
    <p class="top_coment">プロフィールを作成して<br>リンクをまとめよう。</p>
    <p><%= link_to "新規登録", new_user_session_path, class: "top_start_btn new" %></p>
    <p><%= link_to "ログイン", new_user_session_path, class: "top_start_btn login" %></p>
</div>

  <div class="index_icon_pp">
    <% @users.each do |user| %>
      <div class="index_icon_p" ontouchstart="">
        <a href="/users/<%= user.id %>"><img src="<%= user.icon_image %>"></a>
        <p  class="index_user_name_p"><a class="index_user_name" href="/user/<%= user.id %>/pfl"><%= user.name %></a></p>
      </div>
    <% end %>
  </div>

  <div class="paginate">
    <%= paginate @users %>
  </div>